<div class="schema-page">
    <type-list [isAddingSchemaType]="isAddingSchemaType | async"
               (setIsAddingSchemaType)="setIsAddingSchemaType($event)"
               (addType)="addType($event)"
               (removeType)="removeType($event)"
               (addField)="addField($event)"
               (removeField)="removeField($event)"
               [schema]="schema | async"></type-list>
</div>
