<div class="drop-component-modal" [hidden]="!show">
    <div class="veil" (click)="cancelWithClick($event)">
        <div class="content">
            <div class="header">
                Add component
            </div>
            <div class="body">
                <form class="form-1">
                    <div class="form-row">
                        <label>New component name</label>
                        <input name="name" type="text" [(ngModel)]="name" />
                    </div>
                </form>
            </div>
            <div class="footer">
                <button class="button-red" (click)="cancel()">Cancel</button>
                <button class="button-green" (click)="continue()" [disabled]="name == ''">Add</button>
            </div>
        </div>
    </div>
</div>
