$block-height: 80px;
$block-width: 240px;

:host {
    width: 100%;
    overflow-y: auto;
    flex: 1;
}

.io-editor {
    display: flex;
    height: calc(100% - 15px);
    position: relative;
    overflow-y: auto;
    margin: 15px 15px 0 15px;

    .line,
    .line-drag {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        .line-svg {
            display: block;
            padding: 2px 0;
        }
    }

    .line.straight {
        .line-svg {
            padding: 2px 0 0 0;
        }
    }

    .dot {
        position: absolute;
        top: 0;
        left: 0;
    }

    .dot-receiver-container {
        width: 30px;
        height: 30px;
        margin-top: -15px;
        margin-left: -15px;

        .dot-receiver {
            border-radius: 100%;
            border: 2px solid #444;
            cursor: pointer;
            height: 100%;
            background-color: #fff;
        }

        .dot-receiver:hover {
            background-color: #67b168;
        }
    }

    .dot-end,
    .dot-plus {
        width: 30px;
        height: 30px;
        margin-top: -15px;
        margin-left: -15px;
        border-radius: 100%;
        border: 2px solid #444;
        cursor: pointer;
        text-align: center;
        line-height: 30px;

        > i.fa {
            color: #fff;
            font-size: 18px;
        }
    }

    .dot-end {
        background-color: #67b168;

        > i.fa {
            margin-left: -1px;
            margin-top: -1px;
        }
    }

    .dot-plus {
        background-color: #808080;
    }

    .dot-end:hover {
        background-color: #800000; 
    }

    .dot-plus:hover {
        background-color: #67b168;
    }

    .io-column {
        flex: 1;
        border: 1px solid #e2e2e2;
        display: flex;
        flex-direction: column;

        .header {
            min-height: 40px;
            background-color: #444;
            align-items: center;
            padding: 0 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .title {
                height: 40px;
                line-height: 40px;
                color: #fff;
                font-size: 18px;
            }

            .controls {
                .control {
                    display: flex;
                    width: 30px;
                    height: 30px;
                    align-items: center;
                    justify-content: center;
                    border-radius: 6px;
                    cursor: pointer;

                    > i.fa {
                        color: #fff;
                    }
                }

                .control:hover {
                    background-color: #1b6d85;
                }
            }
        }

        .body {
            flex-basis: 100%;
            margin: 15px 0;

            .block-container {
                display: flex;
                flex-direction: column;
                align-items: center;

                .block {
                    height: $block-height;
                    width: $block-width;
                    display: flex;
                    background-color: #696969;
                    border-radius: 12px;
                    margin-bottom: 15px;
                    border: 2px solid #444;
                    cursor: pointer;

                    .left,
                    .right {
                        width: 15px;
                    }

                    .left {

                    }

                    .right {

                    }

                    .middle {
                        flex: 1;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        .display {
                            display: flex;

                            .prefix {
                                color: #e8e8e8;
                                font-size: 18px;
                            }

                            .suffix {
                                color: #fff;
                                font-size: 18px;
                            }
                        }
                    }
                }

                .block:hover {
                    background-color: #7d7d7d;
                }
            }
        }
    }

    .io-column:not(.first-io-column) {
        border-left: none;
    }
}