<div id="io-container" class="io-editor" *ngIf="component">
    <div class="io-column first-io-column">
        <div class="header">
            <div class="title">
                Outputs
            </div>
            <div class="controls">
                <div class="control" (click)="openAddOutputModal()">
                    <i class="fa fa-plus"></i>
                </div>
            </div>
        </div>
        <div class="body">
            <div class="block-container">
                <div class="block" *ngFor="let output of component.outputs" [id]="output.id">
                    <div class="left">

                    </div>
                    <div class="middle">
                        <div class="display">
                            <div class="prefix">
                                {{ output.prefix }}::
                            </div>
                            <div class="suffix">
                                {{ output.suffix }}
                            </div>
                        </div>
                    </div>
                    <div class="right">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="io-column">
        <div class="header">
            <div class="title">
                Reducers
            </div>
            <div class="controls">
                <div class="control" (click)="openAddReducerFieldModal()">
                    <i class="fa fa-plus"></i>
                </div>
            </div>
        </div>
        <div class="body">
            <div class="block-container">
                <div class="block" *ngFor="let reducer of component.allReducers" [id]="reducer.id" (click)="handleReducerBlockClicked(reducer)">
                    <div class="left">

                    </div>
                    <div class="middle">
                        <div class="display">
                            <div class="prefix">
                                {{ reducer.prefix }}::
                            </div>
                            <div class="suffix">
                                {{ reducer.suffix }}
                            </div>
                        </div>
                    </div>
                    <div class="right">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="io-column">
        <div class="header">
            <div class="title">
                Selectors
            </div>
        </div>
        <div class="body">
            <div class="block-container">
                <div class="block" *ngFor="let selector of component.allSelectors" [id]="selector.id">
                    <div class="left">

                    </div>
                    <div class="middle">
                        <div class="display">
                            <div class="prefix">
                                {{ selector.prefix }}::
                            </div>
                            <div class="suffix">
                                {{ selector.suffix }}
                            </div>
                        </div>
                    </div>
                    <div class="right">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="io-column">
        <div class="header">
            <div class="title">
                Inputs
            </div>
            <div class="controls">
                <div class="control" (click)="openAddInputModal()">
                    <i class="fa fa-plus"></i>
                </div>
            </div>
        </div>
        <div class="body">
            <div class="block-container">

            </div>
        </div>
    </div>

    <div class="line" [class.straight]="isStraight(line)" *ngFor="let line of lineData"
         [style.left.px]="left(line)"
         [style.top.px]="top(line)"
         [style.width.px]="width(line)"
         [style.height.px]="height(line)">
        <svg class="line-svg" preserveAspectRatio="none" [attr.width]="width(line) + 'px'" [attr.height]="height(line) + 'px'" viewBox="0 0 100 100">
            <path [attr.d]="d(line)" stroke="#696969" stroke-width="4" fill="transparent" vector-effect="non-scaling-stroke"/>
        </svg>
    </div>

    <div class="line-drag"
         *ngIf="isDraggingLine"
         [style.left.px]="startDragX"
         [style.top.px]="dragTop()"
         [style.width.px]="dragWidth()"
         [style.height.px]="dragHeight()">
        <svg class="line-svg" preserveAspectRatio="none" [attr.width]="dragWidth() + 'px'" [attr.height]="dragHeight() + 'px'" viewBox="0 0 100 100">
            <path [attr.d]="dragd()" stroke="#696969" stroke-width="4" fill="transparent" vector-effect="non-scaling-stroke"/>
        </svg>
    </div>

    <div class="dot dot-end" *ngFor="let line of lineData"
         (click)="openDisconnectFromReducerModal(line.to)"
         [style.left.px]="dotEndLeft(line)"
         [style.top.px]="dotEndTop(line)">
        <i class="fa fa-times"></i>
    </div>

    <div class="dot dot-plus dot-output" *ngFor="let output of component.outputs"
         (click)="startDraggingLine($event, output)"
         [style.left.px]="dotPlusLeft(output.id)"
         [style.top.px]="dotPlusTop(output.id)">
        <i class="fa fa-plus"></i>
    </div>

    <div class="dot dot-receiver-container" *ngFor="let reducer of component.allReducers"
         [style.left.px]="dotReceiverLeft(reducer.id)"
         [style.top.px]="dotReceiverTop(reducer.id)">
        <div class="dot-receiver" *ngIf="isDraggingLine"
             (click)="handleReducerReceiverClick(reducer)">
        </div>
    </div>
</div>

<add-output-modal [component]="component"
                  (addOutput)="addOutput.emit($event)"
                  #addOutputModal></add-output-modal>
<add-reducer-field-modal [component]="component"
                         (addReducerField)="addReducerField.emit($event)"
                         #addReducerFieldModal></add-reducer-field-modal>
<disconnect-from-reducer-modal [component]="component"
                               (disconnectOutputFromReducer)="disconnectOutputFromReducer.emit($event)"
                               #disconnectFromReducerModal></disconnect-from-reducer-modal>
<add-input-modal [component]="component"
                 (addInput)="addInput.emit($event)"
                 #addInputModal></add-input-modal>
