<div class="name0 page-title-style-1" data-config-style data-block-id="1.2">
    <div class="left">
        <div class="title" data-config-title>
            Title
        </div>
        <div class="controls">

        </div>
    </div>
    <div class="right">
        <div class="controls">

        </div>
    </div>
</div>