@import "../../variables";

$height: 40px;
$background-color: transparent;

.name0 {
  display: flex;
  height: $height;
  align-items: center;
  padding: 0 15px;
  background-color: $background-color;

  .left,
  .right {
    flex: 1;
    display: flex;

    .controls {
      display: flex;

      .control {
        cursor: pointer;

        > i.fa {
          font-size: 20px;
        }
      }
    }
  }

  .left {
    .title {
      font-size: 18px;
      margin-right: 15px;
    }

    .controls {
      .control {
        margin-right: 15px;
      }
    }
  }

  .right {
    justify-content: flex-end;

    .controls {
      .control {
        margin-left: 15px;
      }
    }
  }
}

.page-title-style-1 {
  border-bottom: 1px solid #ccc;
}

.page-title-style-2 {
  border-bottom: 3px solid blue;
}