.plugin-management-page{padding:15px}.plugin-management-page .plugins{display:flex;flex-wrap:wrap}.plugin-management-page .plugins .plugin{margin:10px;display:block;padding:10px;min-width:200px;max-width:300px;border:1px solid #ccc;cursor:pointer;background-color:#f2f2f2}.plugin-management-page .plugins .plugin .title{font-size:20px}.plugin-management-page .plugins .plugin .title>i.fa{margin-right:5px}.plugin-management-page .plugins .plugin .description{margin-top:5px;color:#808080}.plugin-management-page .plugins .plugin:hover{border-color:#1b6d85}
