.plugin-management-page {
    padding: 15px;

    .search-header {

    }

    .plugins {
        display: flex;
        flex-wrap: wrap;

        .plugin {
            margin: 10px;
            display: block;
            padding: 10px;
            min-width: 200px;
            max-width: 300px;
            border: 1px solid #ccc;
            cursor: pointer;
            background-color: #f2f2f2;

            .title {
                font-size: 20px;

                > i.fa {
                    margin-right: 5px;
                }
            }

            .description {
                margin-top: 5px;
                color: #808080;
            }
        }

        .plugin:hover {
            border-color: #1b6d85;
        }
    }
}
