<div class="plugin-management-page">
    <div class="search-header">

    </div>
    <div class="plugins">
        <a [routerLink]="'/projects/' + projectId + '/plugins/account'" class="plugin">
            <div class="title">
                <i class="fa fa-key"></i>
                Account management
            </div>
            <div class="description">
                Enables user account support for frontend and backend
            </div>
        </a>
    </div>
</div>
