<div class="breadcrumb">
    <div class="crumbs" *ngIf="crumbs">
        <div class="crumb" *ngFor="let crumb of crumbs">
            <div class="tag tag-{{ crumb.type }}">
                <a [routerLink]="'/projects/' + projectId + '/client/pages'" *ngIf="crumb.type == 'module'">
                    {{ crumb.name }}
                </a>
                <a [routerLink]="'/projects/' + projectId + '/client/platform/' + crumb.id" *ngIf="crumb.type != 'module'">
                    {{ crumb.name }}
                </a>
            </div>
        </div>
    </div>
    <div class="mode">
        <button class="button-green" (click)="setEditMode.emit('design')">
            Design
        </button>
        <button class="button-green" (click)="setEditMode.emit('io')">
            Logic
        </button>
    </div>
</div>
