$height: 40px;

.breadcrumb {
    height: $height;
    background-color: #e2e2e2;
    margin-left: 2px;
    display: flex;
    align-items: center;

    .mode {
        display: flex;
    }

  .crumbs {
    display: flex;
    align-items: center;
    padding: 0 10px;

    .crumb {
      height: $height;
      display: flex;
      align-items: center;
      margin: 0 5px;
      cursor: pointer;

      .tag {
        display: flex;
        align-items: center;
        border-radius: 6px;
        padding: 5px 8px;

        > a {
          color: #fff;
        }
      }

      .tag-module {
        background-color: #ea561d;
      }

      .tag-page {
        background-color: #67b168;
      }

      .tag-component {
        background-color: #1b6d85;
      }
    }
  }
}
