<div class="server-menu">
    <a class="item" [routerLink]="'/projects/' + projectId + '/server/schema'" [routerLinkActive]="['selected']">
        Schema
    </a>
    <a class="item" [routerLink]="'/projects/' + projectId + '/server/playground'" [routerLinkActive]="['selected']">
        Playground
    </a>
</div>
