.headers-basic{height:40px;display:flex;align-items:center;justify-content:space-between;padding:0 10px;background-color:#444}.headers-basic .right,.headers-basic .left{flex-basis:50%}.headers-basic .right .name{font-size:20px;color:#fff}
