.api-list {
  .panel-1 {
    background-color: #f2f2f2;

    .panel-body {
      padding: 15px;

      .routes-header {
        display: flex;
        height: 40px;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 15px;

        .filter {
          > input {
            height: 30px;
            width: 240px;
            padding: 0 3px;
            border: 1px solid #ccc;
            border-radius: 0;
          }

          > input:focus {
            border-color: #808080;
          }
        }
      }

      .routes-container {
        .routes {
          .route {
            .summary {
              height: 50px;
              border: 1px solid #ccc;
              display: flex;
              align-items: center;
              background-color: white;
              cursor: pointer;

              .method {
                display: flex;
                align-items: center;
                height: 100%;
                flex-basis: 100px;

                .border {
                  width: 5px;
                  height: 100%;
                  margin-right: 10px;
                }

                .text {
                  border-radius: 3px;
                  color: #fff;
                  padding: 5px;
                }
              }

              .uri {
                font-size: 18px;
                margin-right: 10px;
              }

              .name {
                font-size: 18px;
                color: #929292;
              }
            }

            .details {
              display: flex;
              height: 400px;
              background-color: white;
              border: 1px solid #ccc;
              border-top: none;

              .border {
                width: 5px;
                height: 100%;
              }

              .details-content {
                padding: 15px;
              }
            }
          }

          .route.GET .border,
          .route.GET .text { background-color: #67b168; }

          .route.POST .border,
          .route.POST .text { background-color: #ec7d53; }

          .route.PUT .border,
          .route.PUT .text,
          .route.PATCH .border,
          .route.PATCH .text { background-color: #1b6d85; }

          .route.DELETE .border,
          .route.DELETE .text { background-color: #ce2b2b; }

          .route:hover .summary,
          .route.open .summary {
            background-color: #e2e2e2;
          }
        }
      }
    }
  }
}