<div class="api-list">
    <div class="panel-1">
        <div class="panel-title">
            API
        </div>
        <div class="panel-body">
            <div class="routes-header">
                <div class="add-button">
                    <button class="button-green" (click)="openAddApiModal()">
                        Add API
                    </button>
                </div>
                <div class="filter">
                    <input type="text" placeholder="Filter..." [(ngModel)]="apiFilter" />
                </div>
            </div>
            <div class="routes-container">
                <div class="routes">
                    <div class="route {{ route.method }}" *ngFor="let route of filteredRoutes()" [class.open]="route.isOpen">
                        <div class="summary" (click)="toggleRoute(route)">
                            <div class="method">
                                <div class="border"></div>
                                <div class="text">
                                    {{ route.method }}
                                </div>
                            </div>
                            <div class="uri">
                                {{ route.uri }}
                            </div>
                            <div class="name">
                                {{ route.action }}
                            </div>
                        </div>
                        <div class="details" *ngIf="route.isOpen">
                            <div class="border"></div>
                            <div class="details-content">
                                here
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<add-api-modal [services]="services" #addApiModal></add-api-modal>