<div class="server-component">
    <page-title title="Server"></page-title>
    <div class="body-container">
        <server-menu [projectId]="projectId"></server-menu>
        <router-outlet></router-outlet>
    </div>
</div>
