$menu-width: 260px;
$menu-header-height: 120px;
$colorBackground: #e2e2e2;
$colorItemForeground: #444;
$colorItemBackgroundHover: #1b6d85;
$colorItemForegroundHover: #fff;

.menus-side-basic {
  height: 100%;
  width: $menu-width;
  background-color: $colorBackground;
  -webkit-box-shadow: 2px 0px 3px 0px rgba(0,0,0,0.4);
  -moz-box-shadow: 2px 0px 3px 0px rgba(0,0,0,0.4);
  box-shadow: 2px 0px 3px 0px rgba(0,0,0,0.4);

  .header {
    height: $menu-header-height;
    display: flex;

    .header-content {
      flex-basis: 100%;
    }
  }

  .body {
    .menu-item {
      border-top: 1px solid #ccc;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 10px;
      cursor: pointer;

      .title .icon .fa,
      .title .text,
      .caret .fa {
        color: $colorItemForeground;
      }

      .title {
        display: flex;
        flex-basis: 100%;
        height: 100%;

        .icon {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-right: 5px;
          font-size: 18px;
        }

        .text {
          display: flex;
          align-items: center;
          font-size: 18px;
        }
      }
    }

    .menu-item:hover,
    > a.selected .menu-item {
      background-color: $colorItemBackgroundHover;

      .title .icon .fa,
      .title .text,
      .caret .fa {
        color: $colorItemForegroundHover;
      }
    }
  }
}
