<div class="menus-side-basic">
    <div class="header">
        <div class="header-content">

        </div>
    </div>
    <div class="body">
        <a class="selected">
            <div class="menu-item">
                <div class="title">
                    <div class="icon">
                        <i class="fa fa-home"></i>
                    </div>
                    <div class="text">
                        Home
                    </div>
                </div>
                <div class="caret">
                    <i class="fa fa-caret-right"></i>
                </div>
            </div>
        </a>
        <a>
            <div class="menu-item">
                <div class="title">
                    <div class="icon">
                        <i class="fa fa-cog"></i>
                    </div>
                    <div class="text">
                        Page 1
                    </div>
                </div>
                <div class="caret">
                    <i class="fa fa-caret-right"></i>
                </div>
            </div>
        </a>
        <a>
            <div class="menu-item">
                <div class="title">
                    <div class="icon">
                        <i class="fa fa-cog"></i>
                    </div>
                    <div class="text">
                        Page 2
                    </div>
                </div>
                <div class="caret">
                    <i class="fa fa-caret-right"></i>
                </div>
            </div>
        </a>
        <a>
            <div class="menu-item">
                <div class="title">
                    <div class="icon">
                        <i class="fa fa-cog"></i>
                    </div>
                    <div class="text">
                        Page 3
                    </div>
                </div>
                <div class="caret">
                    <i class="fa fa-caret-right"></i>
                </div>
            </div>
        </a>
    </div>
</div>