<div class="add-component-modal" [hidden]="!show">
    <div class="veil" (click)="cancelWithClick($event)">
        <div class="content">
            <div class="header">
                New API
            </div>
            <div class="body">
                <div class="custom-form">
                    <div class="form-row form-row-uri">
                        <label>
                            URI
                        </label>
                        <select [(ngModel)]="selectedMethod" (change)="generateActionName($event.target.value)">
                            <option *ngFor="let method of methodList" [value]="method">
                                {{ method }}
                            </option>
                        </select>
                        <div class="root">
                            /api/
                        </div>
                        <input type="text" placeholder="URI" (input)="generateControllerName($event.target.value)" [(ngModel)]="uri" />
                    </div>

                    <div class="form-row form-row-controller">
                        <label>
                            Controller
                        </label>
                        {{ controller }}
                    </div>

                    <div class="form-row form-row-action">
                        <label>
                            Action
                        </label>
                        <input type="text" placeholder="Action" [(ngModel)]="action" />
                    </div>

                    <div class="form-row form-row-action">
                        <label>
                            Service
                        </label>
                        <select *ngIf="services" [(ngModel)]="service">
                            <option value="none">
                                ---
                            </option>
                            <option *ngFor="let service of services.concrete" [value]="service.name">
                                {{ service.name }}
                            </option>
                        </select>
                    </div>

                    <div class="form-row form-row-action">
                        <label>
                            Model
                        </label>
                    </div>
                </div>
            </div>
            <div class="footer">
                <button class="button-red" (click)="cancel()">Cancel</button>
                <button class="button-green" (click)="continue()">Add</button>
            </div>
        </div>
    </div>
</div>