<div class="forms-basic">
    <div class="form-1">
        <div class="form-title">
            Title
        </div>

        <form class="form-row">
            <label>
                Basic input
            </label>
            <form-field type="text"
                        [field]="{name:'name',value:'value'}"
                        placeholder="placeholder"
                        (formUpdates)="formUpdates.emit($event)"></form-field>
        </form>

        <div class="form-row">
            <label>
                Loading
            </label>
            <div class="form-row-loading"></div>
        </div>

        <div class="form-row">
            <label>
                Text area
            </label>
            <form-field type="textarea"
                        [field]="{name:'name',value:'value'}"
                        placeholder="placeholder"
                        (formUpdates)="formUpdates.emit($event)"></form-field>
        </div>

        <div class="form-row">
            <label>
                Checkbox
            </label>
            <form-field type="checkbox"
                        [field]="{name:'name',value:'value'}"
                        placeholder="placeholder"
                        (formUpdates)="formUpdates.emit($event)"></form-field>
        </div>

        <div class="form-row">
            <label>
                Select
            </label>
            <form-field type="select"
                        [field]="{name:'name',value:'value'}"
                        [options]="[{value:'value',display:'Option 1'},{value:'value',display:'Option 2'}]"
                        (formUpdates)="formUpdates.emit($event)"></form-field>
        </div>

        <div class="form-button">
            <button class="button-green">
                Submit
            </button>
        </div>
    </div>
</div>