.type-list {
    .add-type-button {
        margin-bottom: 15px;

        > button {
            border: 1px solid #ccc;
            background-color: #67b168;
            color: #fff;
            font-size: 22px;
            text-align: center;
            height: 40px;
            width: 120px;
            cursor: pointer;

            > i.fa {
                color: #fff;
            }
        }
    }


    .list {
        display: flex;
        flex-wrap: wrap;

        .add-type {
            .header {
                padding: 0 15px; 
                height: 60px;
                display: flex;
                align-items: center;

                > input {
                    border: none;
                    font-size: 26px;
                    height: 40px;
                    color: #ea561d;
                    width: 100%;
                }

                > input:focus {
                    border: none;
                    outline: none;
                }
            }

            .footer {
                border-top: 1px solid #e2e2e2;
                display: flex;
                height: 50px;
                align-items: center;
                justify-content: flex-end;
                padding: 0 15px;

                > button {
                    height: 30px;
                    width: 100px;
                    border: 1px solid #ccc;
                    font-size: 16px;
                    color: #fff;
                    cursor: pointer;
                }

                > button:first-child {
                    background-color: #9a3333;
                    margin-right: 10px;
                }

                > button:last-child {
                    background-color: #67b168;
                }
            }
        }
        
        .type {
            margin: 8px;
            width: 480px;

            .panel-body {
                .type-header {
                    display: flex;
                    justify-content: space-between;
                    height: 60px;
                    align-items: center;
                    padding: 0 15px;

                    .left {
                        flex: 1;
                    }

                    .left {
                        display: flex;
                        margin-right: 10px;

                        .name {
                            > input {
                                border: none;
                                backgroun-color: transparent;
                                font-size: 26px;
                                height: 40px;
                                padding: 0 3px;
                                color: #ea561d;
                                width: 100%;
                            }
                        }

                        .add-field {
                            margin-left: 10px;

                            > button {
                                width: 100px;
                                height: 40px;
                                border: 1px solid #ccc;
                                background-color: #f2f2f2;
                            }
                        }
                    }

                    .right {
                        display: none;

                        .control {
                            height: 25px;
                            width: 80px;
                            font-size: 14px;
                            border-radius: 8px;
                            color: #fff;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            cursor: pointer;

                            > i.fa {
                                color: #fff;
                            }
                        }

                        .control:first-child {
                            background-color: #67b168;
                            margin-right: 5px;
                        }

                        .control:last-child {
                            background-color: #a73333;
                        }
                    }
                }

                .type-body {
                    .fields {
                        .field {
                            height: 50px;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            padding: 0 15px;
                            border-top: 1px solid #e2e2e2;

                            .left {
                                flex: 1;
                            }

                            .left {
                                .name {
                                    > input {
                                        border: none;
                                        background-color: transparent;
                                        padding: 0 3px;
                                        font-size: 20px;
                                        height: 30px;
                                    }
                                }
                            }

                            .right {
                                .delete-button {
                                    display: none;
                                    width: 30px;
                                    height: 30px;
                                    line-height: 30px;
                                    text-align: center;
                                    border-radius: 4px;
                                    cursor: pointer;

                                    > i.fa {
                                        color: #a73333;
                                    }
                                }

                                .delete-button:hover {
                                    background-color: #1b6d85;

                                    > i.fa {
                                        color: #fff;
                                    }
                                }
                            }
                        }

                        .field:hover {
                            .right {
                                .delete-button {
                                    display: block;
                                }
                            }
                        }
                    }
                }
            }
        }

        .type:hover {
            .panel-body {
                .type-header {
                    .right {
                        display: flex;
                    }
                }
            }
        }
    }
}