<div class="type-list">
    <div class="add-type-button">
        <button (click)="setIsAddingSchemaType.emit(true)"><i class="fa fa-plus-circle"></i>&nbsp;Type</button>
    </div>
    <div class="list">
        <div class="type add-type panel-1" *ngIf="isAddingSchemaType">
            <div class="panel-body">
                <div class="header">
                    <input type="text" placeholder="Type name" [(ngModel)]="newTypeName" />
                </div>
                <div class="footer">
                    <button (click)="setIsAddingSchemaType.emit(false)">Cancel</button>
                    <button (click)="add()">Save</button>
                </div>
            </div>
        </div>
        <div class="type panel-1" *ngFor="let type of schema">
            <div class="panel-body">
                <div class="type-header">
                    <div class="left">
                        <div class="name">
                            <input type="text" [value]="type.name" placeholder="Type name" />
                        </div>
                    </div>
                    <div class="right">
                        <div class="control" (click)="openAddFieldModal(type)">
                            <i class="fa fa-plus"></i>&nbsp;Field
                        </div>
                        <div class="control" (click)="deleteType(type)">
                            <i class="fa fa-trash"></i>&nbsp;Delete
                        </div>
                    </div>
                </div>
                <div class="type-body">
                    <div class="fields">
                        <div class="field" *ngFor="let field of type.fields">
                            <div class="left">
                                <div class="name">
                                    <input type="text" [value]="field.name" placeholder="Field name" />
                                </div>
                            </div>
                            <div class="right">
                                <div class="delete-button" (click)="removeField.emit({typeName: type.name, field: field})">
                                    <i class="fa fa-trash"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<add-field-modal #addFieldModal (addField)="addField.emit($event)"></add-field-modal>
<confirm-modal #confirmModal></confirm-modal>
