<div class="config">
    <div class="header">
        <div class="tab" (click)="selectTab.emit('main')" [class.selected]="configTab == 'main'">
            Main
        </div>
        <div class="tab" (click)="selectTab.emit('second')" [class.selected]="configTab == 'second'">
            Element
        </div>
    </div>
    <div class="body" *ngIf="configTab == 'main' && component">
        <div class="section" *ngFor="let group of component.config.groups; let i = index">
            <div class="section-header">
                <div class="title">
                    {{ group.title }}
                    <i class="fa fa-plus" *ngIf="group.addRemove && !group.isClosed"></i>
                </div>
                <div class="collapse">
                    <i class="fa fa-chevron-right" *ngIf="group.isClosed" (click)="openGroup(group)"></i>
                    <i class="fa fa-chevron-down" *ngIf="!group.isClosed" (click)="closeGroup(group)"></i>
                </div>
            </div>
            <div class="section-body" *ngIf="!group.isClosed">
                <div class="section-row" *ngFor="let row of group.rows; let j = index">
                    <div class="section-control" *ngFor="let field of row.fields; let k = index">
                        <div class="label">
                            {{ field.label }}
                        </div>
                        <div class="control" [ngSwitch]="field.type">
                            <div class="control-switch-case" *ngSwitchCase="'text'">
                                <input type="text"
                                       [placeholder]="field.label"
                                       (input)="handleChangeMain($event, i, j, k)"
                                       [value]="field.value"/>
                            </div>
                            <div class="control-switch-case" *ngSwitchCase="'select'">
                                <select (change)="handleChangeMain($event, i, j, k)"
                                        [value]="field.value">
                                    <option [value]="option.value" *ngFor="let option of field.options">
                                        {{ option.display }}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="body" *ngIf="selectedItem && configTab == 'second' && selectedItem.type == 'formControl'">
        <div class="section" *ngFor="let group of selectedItem.config.groups; let i = index">
            <div class="section-header">
                <div class="title">
                    {{ group.title }}
                    <i class="fa fa-plus" *ngIf="group.addRemove && !group.isClosed"></i>
                </div>
                <div class="collapse">
                    <i class="fa fa-chevron-right" *ngIf="group.isClosed" (click)="openGroup(group)"></i>
                    <i class="fa fa-chevron-down" *ngIf="!group.isClosed" (click)="closeGroup(group)"></i>
                </div>
            </div>
            <div class="section-body" *ngIf="!group.isClosed">
                <div class="section-row" *ngFor="let row of group.rows; let j = index">
                    <div class="section-control" *ngFor="let field of row.fields; let k = index">
                        <div class="label">
                            {{ field.label }}
                        </div>
                        <div class="control" [ngSwitch]="field.type">
                            <div class="control-switch-case" *ngSwitchCase="'text'">
                                <input type="text"
                                       [placeholder]="field.label"
                                       (input)="handleChange($event, i, j, k)"
                                       [value]="field.value"/>
                            </div>
                            <div class="control-switch-case" *ngSwitchCase="'select'">
                                <select (change)="handleChange($event, i, j, k)"
                                        [value]="field.value">
                                    <option [value]="option.value" *ngFor="let option of field.options">
                                        {{ option.display }}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
