.config {
  display: flex;
  flex-direction: column;
  height: 100%;

  .header {
    height: 40px;
    background-color: #444;
    display: flex;

    .tab {
      flex: 1;
      height: 40px;
      line-height: 40px;
      text-align: center;
      font-size: 18px;
      color: #fff;
      background-color: #808080;
      cursor: pointer;
    }

    .tab.selected {
      background-color: #444;
    }
  }

  .body {
    flex-basis: 100%;
    border: 1px solid #ccc;
    border-top: none;

    .section {
      .section-header {
        display: flex;
        height: 30px;
        align-items: center;
        justify-content: space-between;
        background-color: #e2e2e2;
        padding: 0 10px;
        font-size: 18px;
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;

        .title {
          > i.fa {
            margin-left: 5px;
            font-size: 14px;
          }
        }

        .collapse {
          > i.fa {
            cursor: pointer;
            width: 25px;
            height: 25px;
            line-height: 25px;
            font-size: 14px;
            text-align: center;
            border-radius: 6px;
          }

          > i.fa:hover {
            background-color: #1b6d85;
            color: #fff;
          }
        }
      }

      .section-body {
        padding: 0 10px;

        .section-row {
          display: flex;
          height: 50px;
          align-items: center;

          .section-control {
            display: flex;
            flex: 1;
            align-items: center;

            .label {
              margin-right: 10px;
            }

            .control {
              flex: 1;

              .control-switch-case {
                width: 100%;

                > input,
                > select {
                  width: 100%;
                  height: 25px;
                  padding: 0 3px;
                }
              }
            }
          }

          .section-control:not(:last-child) {
            margin-right: 10px;
          }
        }
      }
    }

    .section.section-margins {
      .section-body {
        .section-body-row {
          justify-content: space-between;

          .label {
            flex-basis: 60px;
          }

          > input {
            width: 40px;
          }
        }
      }
    }
  }
}
