<div class="dashboard-menu" [class.collapsed]="isCollapsed">
    <div class="header">
        <div class="header-content">

        </div>
    </div>
    <div class="menu-items">
        <a routerLink="/" [routerLinkActive]="['selected']" [routerLinkActiveOptions]="{exact:true}">
            <div class="menu-item">
                <div class="title">
                    <div class="icon">
                        <i class="fa fa-home"></i>
                    </div>
                    <div class="text">
                        Dashboard
                    </div>
                </div>
                <div class="caret">
                    <i class="fa fa-caret-right"></i>
                </div>
            </div>
        </a>
        <a [routerLink]="'/projects/' + projectId + '/client/pages'" [routerLinkActive]="['selected']" [routerLinkActiveOptions]="{exact:true}">
            <div class="menu-item">
                <div class="title">
                    <div class="icon">
                        <i class="fa fa-television"></i>
                    </div>
                    <div class="text">
                        Client
                    </div>
                </div>
                <div class="caret">
                    <i class="fa fa-caret-right"></i>
                </div>
            </div>
        </a>
        <a [routerLink]="'/projects/' + projectId + '/client/actions'" [routerLinkActive]="['selected']" [routerLinkActiveOptions]="{exact:true}">
            <div class="menu-item">
                <div class="title">
                    <div class="icon">
                        <i class="fa fa-cogs"></i>
                    </div>
                    <div class="text">
                        Actions
                    </div>
                </div>
                <div class="caret">
                    <i class="fa fa-caret-right"></i>
                </div>
            </div>
        </a>
        <a [routerLink]="'/projects/' + projectId + '/server/schema'" [routerLinkActive]="['selected']" [routerLinkActiveOptions]="{exact:true}">
            <div class="menu-item">
                <div class="title">
                    <div class="icon">
                        <i class="fa fa-server"></i>
                    </div>
                    <div class="text">
                        Server
                    </div>
                </div>
                <div class="caret">
                    <i class="fa fa-caret-right"></i>
                </div>
            </div>
        </a>
        <a [routerLink]="'/projects/' + projectId + '/plugins'" [routerLinkActive]="['selected']" [routerLinkActiveOptions]="{exact:true}">
            <div class="menu-item">
                <div class="title">
                    <div class="icon">
                        <i class="fa fa-puzzle-piece"></i>
                    </div>
                    <div class="text">
                        Plugins
                    </div>
                </div>
                <div class="caret">
                    <i class="fa fa-caret-right"></i>
                </div>
            </div>
        </a>
    </div>
</div>
