$menu-width-collapsed: 60px;
$menu-width-extended: 14vw;

.dashboard-menu {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  height: 100%;
  width: $menu-width-extended;
  background-color: #444;
  -webkit-box-shadow: 2px 0px 3px 0px rgba(0,0,0,0.4);
  -moz-box-shadow: 2px 0px 3px 0px rgba(0,0,0,0.4);
  box-shadow: 2px 0px 3px 0px rgba(0,0,0,0.4);

  .header {
    height: 120px;
    display: flex;

    .header-content {
      flex-basis: 100%;
    }
  }

  .menu-items {
    .menu-item {
      border-top: 1px solid #808080;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 10px;
      cursor: pointer;

      .title {
        display: flex;
        flex-basis: 100%;
        height: 100%;

        .icon {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-right: 5px;
          font-size: 18px;

          > i.fa {
            color: #b9b9b9;
          }
        }

        .text {
          display: flex;
          align-items: center;
          font-size: 18px;
          color: #fff;
        }
      }

      .caret {

      }
    }

    .menu-item:hover,
    > a.selected .menu-item {
      background-color: #1b6d85;

      .title .icon .fa,
      .title .text,
      .caret .fa {
        color: #fff;
      }
    }
  }
}

.dashboard-menu.collapsed {
  width: $menu-width-collapsed;

  .header {
    .header-content {
      display: none;
    }

    .collapse-button {
      flex-basis: 100%;
      border-left: none;
    }
  }

  .menu-items {
    .menu-item {
      position: relative;

      .title {
        .icon {
          flex-basis: 100%;
        }

        .text {
          display: none;
          white-space: nowrap;
          position: absolute;
          left: 100%;
          top: 0;
          height: 100%;
          z-index: 999;
          background-color: #1b6d85;
          color: #fff;
          padding: 0 10px;
          -webkit-box-shadow: 2px 0px 3px 0px rgba(0,0,0,0.4);
          -moz-box-shadow: 2px 0px 3px 0px rgba(0,0,0,0.4);
          box-shadow: 2px 0px 3px 0px rgba(0,0,0,0.4);
        }
      }

      .caret {
        display: none;
      }
    }

    .menu-item:hover {
      .title {
        .text {
          display: flex;
        }
      }
    }
  }
}
