<div class="playground-page">
    <div class="editor">
        <query-editor (runQuery)="runQuery($event)"
                      [selectedQuery]="selectedQuery | async"
                      [query]="query | async"
                      (addQueryType)="addQueryType($event)"
                      (addQueryField)="addQueryField($event)"
                      (selectQuery)="selectQuery($event)"></query-editor>
    </div>
    <div class="results">
        <query-results [queryResult]="queryResult | async"></query-results>
    </div>
</div>
