.panel-config{border:1px solid #ccc;height:100%;display:flex;flex-direction:column}.panel-config .header{height:40px;display:flex;align-items:center;justify-content:space-between;margin:0 10px;border-bottom:1px solid #1b6d85}.panel-config .header .left,.panel-config .header .right{flex:1}.panel-config .body{flex:1}
