<div class="panel-config">
    <div class="header">
        <div class="left">
            <div class="title">
                {{ component.config.groups[0].rows[0].fields[0].value }}
            </div>
        </div>
        <div class="right">

        </div>
    </div>
    <div class="body">
        <window [blockArea]="component.blockAreas[0]"
                [mode]="mode"
                [projectId]="projectId"
                (windowUpdates)="windowUpdates.emit($event)"></window>
    </div>
</div>
