$height: 40px;

.panel-config {
  border: 1px solid #ccc;
  height: 100%;
  display: flex;
  flex-direction: column;

  .header {
    height: $height;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 10px;
    border-bottom: 1px solid #1b6d85;

    .left,
    .right {
      flex: 1;
    }

    .left {
      .title {

      }
    }
  }

  .body {
    flex: 1;
  }
}