<div class="actions-page">
    <action-list [actions]="actions | async"
                 [selectedAction]="selectedAction | async"
                 [selectedGroup]="selectedGroup | async"
                 (createActionGroup)="createActionGroup($event)"
                 (createAction)="createAction($event)"
                 (createStateField)="createStateField($event)"
                 (selectAction)="selectAction($event)"
                 (selectGroup)="selectGroup($event)"></action-list>
    <div class="map-container">
        <client-map [selectedAction]="selectedAction | async"
                    [selectedGroup]="selectedGroup | async"
                    (toggleRequestConfigure)="toggleRequestConfigure($event)"
                    (updateMap)="updateMap($event)"></client-map>
        <request-configure [requestConfigure]="requestConfigure | async"
                           [schema]="schema | async"
                           (toggleRequestConfigure)="toggleRequestConfigure($event)"
                           (updateMap)="updateMap($event)"></request-configure>
    </div>
</div>