.service-list .panel-1{background-color:#f2f2f2}.service-list .panel-1 .panel-body{padding:15px}.service-list .panel-1 .panel-body .services-header{display:flex;height:40px;align-items:center;justify-content:space-between;margin-bottom:15px}.service-list .panel-1 .panel-body .services .service{display:flex;height:50px;align-items:center;padding:0 10px;font-size:18px}
