<div class="service-list">
    <div class="panel-1">
        <div class="panel-title">
            Services
        </div>
        <div class="panel-body" *ngIf="services">
            <div class="services-header">
                <div class="add-button">
                    <button class="button-green" (click)="openAddServiceModal()">
                        Add service
                    </button>
                </div>
            </div>
            <div class="services">
                <div class="service" *ngFor="let service of services.concrete">
                    {{ service.name }}
                </div>
            </div>
        </div>
    </div>
</div>

<add-service-modal *ngIf="services" [abstractServices]="services.abstract" #addServiceModal></add-service-modal>