<div class="node">
    <div class="box action-box">
        <div class="header">
            <div class="text"
                 (mousedown)="startMove($event)"
                 (mouseup)="stopMove($event)">
                {{ node.friendlyName }}
            </div>
            <div class="connection-point"
                 *ngIf="!node.noHeaderInSlot"
                 [class.active]="node.headerConnections && node.headerConnections.length > 0"
                 (mousedown)="handleConnectionMouseDown($event, -1)"
                 (mouseup)="handleConnectionMouseUp($event, -1)"></div>
        </div>
        <div class="body">
            <div class="slot"
                 *ngFor="let slot of node.slots; let i = index"
                 [class.slot-out]="slot.direction == 'out'"
                 [class.slot-in]="slot.direction == 'in'">
                <div class="text">
                    {{ slot.name }}
                </div>
                <div class="connection-point"
                     [class.active]="slot.connections && slot.connections.length > 0"
                     (mousedown)="handleConnectionMouseDown($event, i)"
                     (mouseup)="handleConnectionMouseUp($event, i)"></div>

            </div>
            <div class="can-configure" *ngIf="node.canConfigure" (click)="toggleRequestConfigure.emit(node)">
                <div class="top">
                    configure
                </div>
                <div class="bot">
                    <i class="fa fa-caret-down"></i>
                </div>
            </div>
        </div>
    </div>
</div>