@import "../../variables";

$color-request: #9a3333;

:host {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  opacity: 0.9;
}

.node {
  .box {
    border-radius: 8px;
    background-color: #444;
    min-width: 180px;
    min-height: 60px;
    border: 2px solid #ccc;

    .header {
      height: 30px;
      padding: 0 5px;
      border-bottom: 1px solid #808080;
      background-color: $color-request;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;

      .text {
        color: #fff;
        margin-left: 14px;
        height: 30px;
        line-height: 30px;
        cursor: move;
      }

      .connection-point {
        position: absolute;
        top: 10px;
        left: 5px;
        width: 12px;
        height: 12px;
        border: 2px solid #fff;
        border-radius: 100%;
        cursor: pointer;
      }

      .connection-point.active {
        background-color: #4c903f;
        border-color: #4c903f;
      }
    }

    .body {
      margin: 3px 0;

      .slot {
        height: 30px;
        position: relative;

        .text {
          color: #fff;
          padding: 0 20px;
          height: 30px;
          line-height: 30px;
        }

        .connection-point {
          position: absolute;
          top: 10px;
          right: 5px;
          width: 12px;
          height: 12px;
          border: 2px solid #fff;
          border-radius: 100%;
          cursor: pointer;
        }

        .connection-point.active {
          background-color: #4c903f;
          border-color: #4c903f;
        }
      }

      .slot-out {
        .text {
          text-align: right;
        }
      }

      .slot-in {
        .connection-point {
          left: 5px;
        }
      }

      .can-configure {
        cursor: pointer;
        height: 20px;
        border-top: 1px solid #f2f2f2;

        .top,
        .bot {
          text-align: center;
          color: #fff;
        }

        .top {
          font-size: 12px;
          height: 12px;
          line-height: 12px;
        }

        .bot {
          height: 8px;
          line-height: 8px;

          > i.fa {
            color: #fff;
            margin-top: -3px;
          }
        }
      }
    }
  }

  .box:hover {
    box-shadow: 0px 0px 1px 0px rgba(55,128,191,1);
  }
}