<div class="add-output-modal" [hidden]="!show">
    <div class="veil" (click)="cancelWithClick($event)">
        <div class="content">
            <div class="header">
                Add output
            </div>
            <div class="body">
                <div class="left">
                    <div class="title">
                        Group
                    </div> 
                    <div class="list">
                        <div class="list-item" [class.selected]="selectedGroup == '#new#'">
                            <div class="add-new-item" *ngIf="!newGroupActive" (click)="activateNewGroup()">
                                <i class="fa fa-plus-circle"></i>&nbsp;New group
                            </div>
                            <div class="new-item-input" *ngIf="newGroupActive">
                                <input type="text" placeholder="Group name" [(ngModel)]="newGroupText" />
                            </div>
                        </div>
                        <div class="list-item"
                             *ngFor="let group of getGroupList()"
                             (click)="selectGroup(group)"
                             [class.selected]="group == selectedGroup">
                            {{ group }}
                        </div>
                    </div>
                </div>
                <div class="right">
                    <div class="title">
                        Action
                    </div>
                    <div class="list" *ngIf="selectedGroup && selectedGroup != ''">
                        <div class="list-item" [class.selected]="selectedAction == '#new#'">
                            <div class="add-new-item" *ngIf="!newActionActive" (click)="activateNewAction()">
                                <i class="fa fa-plus-circle"></i>&nbsp;New action
                            </div>
                            <div class="new-item-input" *ngIf="newActionActive">
                                <input type="text" placeholder="Action name" [(ngModel)]="newActionText" />
                            </div>
                        </div>
                        <div class="list-item"
                             *ngFor="let action of getActionList()"
                             (click)="selectAction(action)"
                             [class.selected]="action == selectedAction">
                            {{ action }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer">
                <button class="button-red" (click)="cancel()">Cancel</button>
                <button class="button-green" (click)="continue()" [disabled]="!selectedAction || selecedAction == ''">Add</button>
            </div>
        </div>
    </div>
</div>
