.add-output-modal {
  .veil {
    z-index: 1050;
    position: fixed;
    width: 100%;
    height: 100%;
    max-height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    transition: all .4s ease;
  }

  .content {
    margin: 60px auto 20px auto;
    z-index: 1150;
    border: 1px solid rgba(0, 0, 0, .33);
    -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
    -moz-box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
    box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
    background-color: white;
    max-height: 80%;
    width: 60%;
    display: flex;
    flex-direction: column;

    .header {
      height: 60px;
      display: flex;
      align-items: center;
      padding: 0 15px;
      border-bottom: 1px solid #ccc;
      font-size: 20px;
    }

    .body {
      margin: 15px;
      display: flex;
      
      .left, .right {
          flex: 1;

          .title {
              font-size: 18px;
              height: 50px;
              line-height: 50px;
              border-bottom: 1px solid #67b168;
          }

          .list {
              height: 300px;
              overflow-y: auto;
              border: 1px solid #ccc;

              .list-item {
                  padding: 0 10px;
                  line-height: 40px;
                  height: 40px;
                  border-bottom: 1px solid #e2e2e2;
                  cursor: pointer;
                  font-size: 18px;

                  .add-list-item {
                      
                  }

                  .new-item-input {
                      > input {
                          height: 30px !important;
                          line-height: 30px;
                          padding: 0 3px;
                      }
                  }
              }

              .list-item:hover {
                  background-color: #f2f2f2;
              }

              .list-item.selected {
                  background-color: #67b168;
                  color: #fff;
              }
          }
      }

      .left {
          margin-right: 15px;
      }
    }

    .footer {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      height: 60px;
      border-top: 1px solid #ccc;

      > button {
        margin: 0 15px;
      }
    }
  }

  .modal-enter .modal-veil, .modal-leave .modal-veil {
    background-color: rgba(0, 0, 0, 0.0);
  }
}