<div class="panel-demo">
    <div class="panel-1">
        <div class="panel-title">
            Title
        </div>
        <div class="panel-body">
            Content
        </div>
    </div>
</div>