<div class="add-service-modal" [hidden]="!show">
    <div class="veil" (click)="cancelWithClick($event)">
        <div class="content">
            <div class="header">
                New service
            </div>
            <div class="body">
                <div class="custom-form">
                    <div class="form-row">
                        <label>
                            Name
                        </label>
                        <input type="text" placeholder="Name" [(ngModel)]="name" />
                    </div>

                    <div class="form-row">
                        <label>
                            Extends
                        </label>
                        <select [(ngModel)]="parent">
                            <option value="undefined">
                                ---
                            </option>
                            <option *ngFor="let service of abstractServices" [value]="service.name">
                                {{ service.name }}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="footer">
                <button class="button-red" (click)="cancel()">Cancel</button>
                <button class="button-green" (click)="continue()">Add</button>
            </div>
        </div>
    </div>
</div>