.model-list .panel-1{background-color:#f2f2f2}.model-list .panel-1 .panel-body{padding:15px}.model-list .panel-1 .panel-body .models-header{display:flex;height:40px;align-items:center;justify-content:space-between;margin-bottom:15px}.model-list .panel-1 .panel-body .models .model{display:flex;height:50px;align-items:center;padding:0 10px;font-size:18px}
