<div class="model-list">
    <div class="panel-1">
        <div class="panel-title">
            Models
        </div>
        <div class="panel-body" *ngIf="models">
            <div class="models-header">
                <div class="add-button">
                    <button class="button-green" (click)="openAddModelModal()">
                        Add model
                    </button>
                </div>
            </div>
            <div class="models">
                <div class="model" *ngFor="let service of models">
                    {{ model.name }}
                </div>
            </div>
        </div>
    </div>
</div>

<add-model-modal *ngIf="models" #addModelModal></add-model-modal>