.model-list {
  .panel-1 {
    background-color: #f2f2f2;

    .panel-body {
      padding: 15px;

      .models-header {
        display: flex;
        height: 40px;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 15px;
      }

      .models {
        .model {
          display: flex;
          height: 50px;
          align-items: center;
          padding: 0 10px;
          font-size: 18px;
        }
      }
    }
  }
}