:host {
    margin: 10px 0 0 2px;
}

.bottom-panel {
    border-top: 1px solid #ccc;
    width: 100%;
    background-color: #f2f2f2;

    .main-header {
        height: 30px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        cursor: pointer;

        .toggle-button {
            height: 30px;
            line-height: 30px;
            width: 25px;
            text-align: center;

            > i.fa {
                font-size: 26px; 
            }
        }
    }

    .main-header:hover {
        background-color: #ccc;
    }

    .main-body {
        height: 320px;
        display: flex;

        .col {
            .header {
                height: 30px;
                border-bottom: 1px solid #ccc;
                display: flex;
                align-items: center;
            }

            .body {
                height: 290px;
            }
        }

        .col:not(:last-child) {
            border-right: 1px solid #ccc;
        }

        .col:first-child {
            flex-basis: 30%;

            .header {
                .item {
                    height: 30px;
                    line-height: 30px;
                    width: 100px;
                    text-align: center;
                    cursor: pointer;
                    font-size: 20px;
                }

                .item:hover {
                    background-color: #e2e2e2;
                }

                .item.selected {
                    background-color: #67b168;
                    color: #fff;
                }
            }

            .body {
                overflow-y: auto;

                .tree {
                    .lvl-1 {
                        .lvl-row {
                            display: flex;
                            height: 30px;
                            align-items: center;
                            padding: 0 15px;
                            cursor: pointer;

                            > i.fa {
                                margin-right: 10px;
                            }

                            .name {
                                font-size: 20px;
                            }
                        }

                        .lvl-row:hover {
                            background-color: #e2e2e2;
                        }

                        .lvl-row.selected {
                            background-color: #67b168;

                            > i.fa,
                            .name {
                                color: #fff;
                            }
                        }

                        .lvl-2 {
                            .lvl-row {
                                padding-left: 35px;
                            }

                            .lvl-3 {
                                .lvl-row {
                                    padding-left: 55px;
                                }
                            }
                        }
                    }
                }
            }
        }

        .col:nth-child(2) {
            flex-basis: 70%;

            .header {
                justify-content: space-between;

                .left {
                    height: 30px;
                    display: flex;
                    align-items: center;
                    padding: 0 15px;
                    font-size: 18px;

                    .text {
                        > div {
                            color: #5d5d5d;

                            > i.fa {
                                color: #5d5d5d;
                                font-size: 14px;
                            }
                        }
                    }
                }

                .right {
                    height: 30px;
                    line-height: 30px;
                    width: 25px;
                    text-align: center;
                    cursor: pointer;

                    > i.fa {
                        font-size: 26px;
                    }
                }

                .right:hover {
                    background-color: #ccc;
                }
            }

            .body {
                display: flex;
                flex-direction: column;

                .editor {
                    flex: 1;
                }

                .save-bar {
                    height: 30px;
                    display: flex;
                    align-items: center;
                    padding: 0 15px;
                    border-top: 1px solid #ccc;

                    .save-button {
                        height: 20px;
                        line-height: 20px;
                        width: 80px;
                        text-align: center;
                        cursor: pointer;
                        background-color: #67b168;
                        color: #fff;
                        border-radius: 4px;
                        border: none;
                    }

                    .save-button:disabled {
                        cursor: not-allowed;
                        background-color: #ccc;
                    }
                }
            }

            .body.body-unselected {
                line-height: 290px;
                text-align: center;
                font-size: 46px;
                color: #ccc;
            }
        }
    }
}