<div class="bottom-panel">
    <div class="main-header" *ngIf="!isLogicPanelOpen" (click)="toggleLogicPanel.emit({})">
        <div class="toggle-button">
            <i class="fa fa-angle-double-up"></i>
        </div>
    </div>
    <div class="main-body" *ngIf="isLogicPanelOpen">
        <div class="col">
            <div class="header">
                <div class="item" [class.selected]="selectedLogicCategory == 'reducers'" (click)="selectLogicCategory.emit('reducers')">
                    reducers
                </div>
                <div class="item" [class.selected]="selectedLogicCategory == 'effects'" (click)="selectLogicCategory.emit('effects')">
                    effects
                </div>
                <div class="item" [class.selected]="selectedLogicCategory == 'selectors'" (click)="selectLogicCategory.emit('selectors')">
                    selectors
                </div>
            </div>
            <div class="body">
                <div class="tree">
                    <div class="lvl-1" *ngFor="let reducer of reducers">
                        <div class="lvl-row">
                            <i class="fa fa-caret-right"></i>
                            <div class="name">
                                {{ reducer.name }}Reducer
                            </div>
                        </div>
                        <div class="lvl-2" *ngFor="let field of reducer.fields">
                            <div class="lvl-row">
                                <i class="fa fa-caret-right"></i>
                                <div class="name">
                                    {{ field.name }}
                                </div>
                            </div>
                            <div class="lvl-3" *ngFor="let action of field.actions">
                                <div class="lvl-row" [class.selected]="selectedLogicItem == reducer.name + '@' + field.name + '@' + action.actionGroup + '::' + action.actionName"
                                     (click)="selectLogicItem.emit(reducer.name + '@' + field.name + '@' + action.actionGroup + '::' + action.actionName)">
                                    <i class="fa fa-caret-right"></i>
                                    <div class="name">
                                        {{ action.actionGroup }}::{{ action.actionName }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="header">
                <div class="left">
                    <div class="text" *ngIf="selectedLogicItem && selectedLogicItem != ''">
                        <div *ngIf="selectedLogicCategory == 'reducers'">
                            {{ getSelectedItemParts()[0] }}Reducer <i class="fa fa-chevron-right"></i> {{ getSelectedItemParts()[1] }} <i class="fa fa-chevron-right"></i> {{ getSelectedItemParts()[2] }}
                        </div>
                    </div>
                </div>
                <div class="right" (click)="toggleLogicPanel.emit({})">
                    <i class="fa fa-angle-double-down"></i>
                </div>
            </div>
            <div class="body body-unselected" *ngIf="!selectedLogicItem || selectedLogicItem == ''">
                select an item
            </div>
            <div class="body" *ngIf="selectedLogicItem && selectedLogicItem != ''">
                <ace-editor
                    class="editor"
                    [text]="getSelectedContent()"
                    [theme]="'eclipse'"
                    [mode]="'typescript'"
                    [autoUpdateContent]="true"
                    [options]="aceOptions"
                    #editor
                    (textChanged)="handleTextChanged($event)"></ace-editor>
                <div class="save-bar">
                    <button class="save-button" [disabled]="!canSave" (click)="saveContent()">
                        save
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
