.platform-page{height:100%;display:flex;flex-direction:column}.platform-page .body{flex-basis:100%;display:flex;margin:15px}.platform-page .body .components{flex-basis:300px;margin-right:20px}.platform-page .body .main{flex:1;margin-right:20px;display:flex;flex-direction:column}.platform-page .body .main .template-configs-container{margin-top:15px;flex:1}.platform-page .body .configuration{flex-basis:350px}.platform-page .io-body{flex-basis:100%;display:flex;flex-direction:column}
