.platform-page {
  height: 100%;
  display: flex;
  flex-direction: column;

  .body {
    flex-basis: 100%;
    display: flex;
    margin: 15px;

    .components {
      flex-basis: 300px;
      margin-right: 20px;
    }

    .main {
      flex: 1;
      margin-right: 20px;
      display: flex;
      flex-direction: column;

      .template-configs-container {
        margin-top: 15px;
        flex: 1;
      }
    }

    .configuration {
      flex-basis: 350px;
    }
  }

  .io-body {
      flex-basis: 100%;
      display: flex;
      flex-direction: column;
  }
}