<div class="platform-page" [ngSwitch]="editMode | async">
    <div class="breadc">
        <breadcrumb [crumbs]="crumbs | async" [projectId]="projectId" (setEditMode)="setEditMode($event)"></breadcrumb>
    </div>
    <div class="body" *ngSwitchCase="'design'">
        <div class="components">
            <component-selector [component]="component | async"
                                [templates]="templates"
                                [formTemplates]="formTemplates"></component-selector>
        </div>
        <div class="main">
            <tool-bar [mode]="mode | async"
                      (setMode)="setMode($event)"></tool-bar>

            <template-config class="template-configs-container"
                             [component]="component | async"
                             [templates]="templates"
                             [dragData]="dragData | async"
                             [mode]="mode | async"
                             [projectId]="projectId"
                             (windowUpdates)="windowUpdates($event)"
                             (formActions)="formActions($event)"
                             (draggableMouseDown)="draggableMouseDown($event)"
                             (draggableMouseUp)="draggableMouseUp($event)"></template-config>
        </div>
        <div class="configuration">
            <config [configTab]="configTab | async"
                    [component]="component | async"
                    [selectedItem]="selectedItem | async"
                    (selectTab)="selectTab($event)"
                    (updateConfig)="updateConfig($event)"
                    (updateMainConfig)="updateMainConfig($event)"></config>
        </div>
    </div>
    <div class="io-body" *ngSwitchCase="'io'">
        <io-editor *ngIf="(component | async)"
                   [component]="component | async"
                   [lineData]="lineData | async"
                   [isLogicPanelOpen]="isLogicPanelOpen | async"
                   (toggleLogicPanel)="toggleLogicPanel($event)"
                   (selectLogicCategory)="selectLogicCategory($event)"
                   (selectLogicItem)="selectLogicItem($event)"
                   (addOutput)="addOutput($event)"
                   (addInput)="addInput($event)"
                   (connectOutputToReducer)="connectOutputToReducer($event)"
                   (disconnectOutputFromReducer)="disconnectOutputFromReducer($event)"
                   (addReducerField)="addReducerField($event)"></io-editor>

        <bottom-panel (toggleLogicPanel)="toggleLogicPanel($event)"
                      (selectLogicCategory)="selectLogicCategory($event)"
                      (selectLogicItem)="selectLogicItem($event)"
                      (saveReducerContent)="saveReducerContent($event)"
                      [reducers]="reducers | async"
                      [isLogicPanelOpen]="isLogicPanelOpen | async"
                      [selectedLogicCategory]="selectedLogicCategory | async"
                      [projectId]="projectId"
                      [selectedLogicItem]="selectedLogicItem | async"></bottom-panel>
    </div>
</div>
