$row-height: 40px;

:host {
  border-right: 1px solid #e2e2e2;
}

.action-list {
  margin-left: 2px;
  display: flex;
  height: 100%;

  .section-title {
    height: 40px;
    line-height: 40px;
    color: #808080;
    font-size: 22px;
    padding-left: 10px;
    border-bottom: 1px solid #e2e2e2;
    background-color: #f2f2f2;
  }

  .selected-bar {
    width: 5px;
    background-color: #1b6d85;
    height: $row-height;
  }

  .groups {
    width: 200px;
    border-right: 1px solid #e2e2e2;
    height: 100%;

    .group {
      display: flex;

      > .name {
        cursor: pointer;
        display: flex;
        height: $row-height;
        align-items: center;
        padding: 0 10px;
        border-bottom: 1px solid #e2e2e2;
        flex: 1;
      }
    }

    .group.add-group {
      .name {
        cursor: pointer;

        > i.fa {
          margin-right: 5px;
          color: #4c903f;
        }
      }

      .input {
        display: flex;
        align-items: center;
        height: $row-height;
        margin: 0 10px;

        > input {
          height: 30px;
          border: none;
          border-bottom: 1px solid #1b6d85;
          padding: 0 3px;
          outline: none;
        }

        > i.fa {
          margin: 10px 5px 0 5px;
          cursor: pointer;
        }

        > i.fa:first-child {
          color: #4cae4c;
        }

        > i.fa:last-child {
          color: #9a3333;
        }
      }
    }
  }

  .actions-fields {
    width: 200px;

    .actions {
      .action {
        height: $row-height;
        line-height: $row-height;
        border-bottom: 1px solid #e2e2e2;
        padding: 0 0 0 30px;
        cursor: pointer;
        display: flex;

        .name {
          flex: 1;
        }
      }

      .action:not(.add-action):hover {
        background-color: #f2f2f2;
      }

      .action.add-action {
        .name {
          cursor: pointer;

          > i.fa {
            margin-right: 5px;
            color: #4c903f;
          }
        }

        .input {
          display: flex;
          align-items: center;
          height: $row-height;
          margin: 0 10px;

          > input {
            height: 30px;
            border: none;
            border-bottom: 1px solid #1b6d85;
            padding: 0 3px;
            outline: none;
            width: 170px;
          }

          > i.fa {
            margin: 10px 5px 0 5px;
            cursor: pointer;
          }

          > i.fa:first-child {
            color: #4cae4c;
          }

          > i.fa:last-child {
            color: #9a3333;
          }
        }
      }
    }
  }
}