<div class="action-list">
    <div class="groups" *ngIf="actions">
        <div class="section-title">
            Groups
        </div>
        <div class="group"
             *ngFor="let group of actions">
            <div class="name" (click)="selectGroup.emit(group)">
                <div class="text">
                    {{ group.name }}
                </div>
            </div>
            <div class="selected-bar" *ngIf="selectedGroup && selectedGroup.id == group.id"></div>
        </div>
        <div class="group add-group" (click)="showAddGroup()">
            <div class="name" *ngIf="!showGroupInput">
                <i class="fa fa-plus-circle"></i>
                action group
            </div>
            <div class="input" *ngIf="showGroupInput">
                <input type="text"
                       placeholder="Group name"
                       (keydown)="handleGroupKeyDown($event)"
                       [(ngModel)]="groupName">
                <i class="fa fa-save" (click)="saveGroup($event)"></i>
                <i class="fa fa-times" (click)="cancelAddGroup($event)"></i>
            </div>
        </div>
    </div>
    <div class="actions-fields">
        <div class="actions" *ngIf="selectedGroup">
            <div class="section-title">
                Actions
            </div>
            <div class="action"
                 *ngFor="let action of selectedGroup.actions"
                 (click)="selectAction.emit(action)">
                <div class="name">
                    {{ action.name }}
                </div>
                <div class="selected-bar" *ngIf="selectedAction && selectedAction.id == action.id"></div>
            </div>
            <div class="action add-action" (click)="showAddAction(selectedGroup.id)">
                <div class="name" *ngIf="!showActionInput">
                    <i class="fa fa-plus-circle"></i>
                    action
                </div>
                <div class="input" *ngIf="showActionInput && selectedGroup.id == showActionInputGroupId">
                    <input type="text"
                           placeholder="Action name"
                           (keydown)="handleActionKeyDown($event, selectedGroup.id)"
                           [(ngModel)]="actionName">
                    <i class="fa fa-save" (click)="saveAction($event, selectedGroup.id)"></i>
                    <i class="fa fa-times" (click)="cancelAddAction($event, selectedGroup.id)"></i>
                </div>
            </div>
        </div>
        <div class="actions fields" *ngIf="selectedGroup">
            <div class="section-title">
                State
            </div>
            <div class="action"
                 *ngFor="let field of selectedGroup.stateFields">
                {{ field.name }} - {{ field.type }}
            </div>
            <div class="action add-action" (click)="showAddField(selectedGroup.id)">
                <div class="name" *ngIf="!showFieldInput">
                    <i class="fa fa-plus-circle"></i>
                    field
                </div>
                <div class="input" *ngIf="showFieldInput && selectedGroup.id == showActionInputGroupId">
                    <input type="text"
                           placeholder="Field name"
                           (keydown)="handleFieldKeyDown($event, selectedGroup.id)"
                           [(ngModel)]="fieldName">
                    <select [(ngModel)]="fieldType">
                        <option value="list">List</option>
                    </select>
                    <i class="fa fa-save" (click)="saveField($event, selectedGroup.id)"></i>
                    <i class="fa fa-times" (click)="cancelAddField($event, selectedGroup.id)"></i>
                </div>
            </div>
        </div>
    </div>
</div>