<div class="comp-node" *ngIf="component">
    <div class="arrows arrows-actions">
        <div class="arrow" *ngFor="let action of component.actions">
            <-- {{ action }} --
            <div class="arrow-hover" (click)="deleteAction.emit({compName: component.name, action: action})">
                <i class="fa fa-times-circle"></i>
            </div>
        </div>
        <div class="arrow arrow-add">
            <i class="fa fa-plus-circle"></i>
            <div class="arrow-hover hover-add"  (click)="addAction.emit(component.name)">
                <i class="fa fa-plus-circle"></i>
            </div>
        </div>
    </div>
    <div class="node">
        <div class="header">
            {{ component.name }}
            <div class="header-actions">
                <div class="action action-edit">
                    <i class="fa fa-edit"></i>
                </div>
                <div class="action action-delete">
                    <i class="fa fa-times-circle"></i>
                </div>
            </div>
        </div>
        <div class="body">
            <div class="inputs">
                <div class="input" *ngFor="let input of component.inputs">
                    {{ input }}
                    <div class="input-hover">
                        <div class="hover-edit">
                            <i class="fa fa-edit"></i>
                        </div>
                        <div class="hover-delete">
                            <i class="fa fa-times-circle"></i>
                        </div>
                    </div>
                </div>
                <div class="add-input">
                    <i class="fa fa-plus-circle"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="node-components">
        <div class="node-component" *ngFor="let comp of component.components">
            <comp-node [component]="comp"
                       (addAction)="addAction.emit($event)"
                       (deleteAction)="deleteAction.emit($event)"></comp-node>
        </div>
    </div>
</div>