.comp-node {
  min-height: 160px;
  display: flex;
  width: 100%;

  .arrows {
    min-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px 0;

    .arrow {
      min-width: 200px;
      text-align: center;
      padding: 10px;
      position: relative;

      .arrow-hover {
        display: none;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: #880000;
        opacity: 0.7;
      }

      .arrow-hover.hover-add {
        background-color: #67b168;
      }
    }

    .arrow:hover {
      .arrow-hover {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        > i.fa {
          font-size: 36px;
          color: #fff;
        }
      }
    }

    .arrow-add {
      > i.fa {
        color: #67b168;
      }
    }
  }

  .node {
    flex-basis: 200px;
    border: 1px solid #ccc;
    border-radius: 12px;
    position: relative;

    .header {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50px;
      font-size: 18px;
      padding: 0 10px;
      border-bottom: 1px solid #ccc;
      position: relative;

      .header-actions {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        cursor: pointer;

        .action {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-basis: 50%;
          opacity: 0.8;

          > i.fa {
            color: #fff;
            font-size: 26px;
          }
        }

        .action:hover {
          opacity: 1;
        }

        .action-edit {
          border-top-left-radius: 12px;
          background-color: #67b168;
        }

        .action-delete {
          background-color: #880000;
          border-top-right-radius: 12px;
        }
      }
    }

    .header:hover {
      .header-actions {
        display: flex;
      }
    }

    .body {
      .inputs {
        margin: 10px 0;

        .input {
          height: 30px;
          display: flex;
          align-items: center;
          padding: 0 10px;
          cursor: pointer;
          position: relative;

          .input-hover {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            display: none;

            .hover-delete, .hover-edit {
              flex-basis: 50%;
              opacity: 0.8;
              display: flex;
              align-items: center;
              justify-content: center;

              > i.fa {
                color: #fff;
              }
            }

            .hover-delete:hover, .hover-edit:hover {
              opacity: 1;
            }

            .hover-edit {
              background-color: #67b168;
            }

            .hover-delete {
              background-color: #880000;
            }
          }
        }

        .input:hover {
          .input-hover {
            display: flex;
          }
        }

        .add-input {
          height: 30px;
          cursor: pointer;
          padding: 0 10px;
          display: flex;
          align-items: center;
          justify-content: center;
          visibility: hidden;

          > i.fa {
            color: #67b168;
          }
        }

        .add-input:hover {
          background-color: #67b168;

          > i.fa {
            color: #fff;
          }
        }
      }
    }
  }

  .node:hover {
    .body .inputs .add-input {
      visibility: visible;
    }
  }

  .node-components {
    display: flex;
    flex-direction: column;
    flex: 1;

    .node-component {
      flex: 1;
    }

    .node-component:not(:first-child) {
      margin-top: 20px;
    }
  }
}
