<div class="under-title-menu">
    <a class="item" [routerLink]="'pages'" [routerLinkActive]="['selected']">
        Pages
    </a>
    <a class="item" [routerLink]="'reducers'" [routerLinkActive]="['selected']">
        Reducers
    </a>
</div>
