$height: 40px;

.under-title-menu {
  margin-left: 2px;
  height: $height;
  display: flex;
  background-color: #e2e2e2;
  -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.4);
  -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.4);
  box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.4);

  .item {
    height: $height;
    min-width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    border-right: 1px solid #808080;
    cursor: pointer;
    color: #444;
  }

  .item:hover,
  .item.selected {
    border-bottom: 5px solid #1b6d85;
  }
}
