<div class="query-editor">
    <div class="panel-1">
        <div class="panel-title">
            <div class="text">
                Query editor
            </div>
            <div class="controls">
                <div class="control">
                    <button class="button-green" (click)="runQuery.emit()">Run</button>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="crud-container">
                <div class="crud-header">
                    <div class="crud-option"
                         [class.selected]="selectedQuery == 'fetch'"
                         (click)="selectQuery.emit('fetch')">
                        <i class="fa fa-arrow-down"></i>
                    </div>
                    <div class="crud-option"
                         [class.selected]="selectedQuery == 'create'"
                         (click)="selectQuery.emit('create')">
                        <i class="fa fa-plus"></i>
                    </div>
                    <div class="crud-option"
                         [class.selected]="selectedQuery == 'update'"
                         (click)="selectQuery.emit('update')">
                        <i class="fa fa-refresh" ></i>
                    </div>
                    <div class="crud-option"
                         [class.selected]="selectedQuery == 'destroy'"
                         (click)="selectQuery.emit('destroy')">
                        <i class="fa fa-times"></i>
                    </div>
                </div>
                <div class="crud-body crud-body-fetch">
                    <div class="type-container" *ngFor="let type of query.data.fetch">
                        <div class="type-row">
                            <div class="left">
                                <input class="type-input" type="text" placeholder="type" [value]="type.key" />
                            </div>
                            <div class="right">
                                <i class="fa fa-caret-down"></i>
                            </div>
                        </div>
                        <div class="type-fields">
                            <div class="type-field" *ngFor="let field of type.value.fields">
                                <input class="field-input"
                                       type="text"
                                       placeholder="field"
                                       (blur)="addQueryField.emit({type: type.key, field: $event.target.value});$event.target.value = ''"
                                       [value]="field.key" />
                            </div>
                            <div class="type-field">
                                <input class="field-input"
                                       type="text"
                                       placeholder="field"
                                       (blur)="addQueryField.emit({type: type.key, field: $event.target.value});$event.target.value = ''"/>
                            </div>
                        </div>
                    </div>
                    <div class="type-container">
                        <div class="type-row">
                            <div class="left">
                                <input class="type-input"
                                       type="text"
                                       placeholder="type"
                                       (blur)="addQueryType.emit($event.target.value);$event.target.value = ''"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
