.query-editor {
    .crud-container {
        margin: 15px;

        .crud-header {
            display: flex;

            .crud-option {
                width: 30px;
                height: 30px;
                border: 1px solid #ccc;
                border-bottom: none;
                text-align: center;
                line-height: 30px;
                cursor: pointer;
            }

            .crud-option.selected,
            .crud-option:hover {
                border-bottom: 3px solid #1b6d85;
            }
        }

        .crud-body {
            border: 1px solid #ccc;
            min-height: 100px;

            .type-container {
                margin: 10px;

                .type-row {
                    height: 40px;
                    background-color: #f2f2f2;
                    padding: 0 10px;
                    display: flex;

                    .left {
                        flex: 1;
                        height: 40px;
                        display: flex;
                        align-items: center;

                        .type-input {
                            border: none;
                            height: 25px;
                            padding: 0 3px;
                        }

                        .type-input:focus {
                            outline: none;
                        }
                    }

                    .right {
                        display: flex;
                        justify-content: flex-end;
                        align-items: center;

                        > i.fa {
                            color: #808080;
                        }
                    }
                }

                .type-fields {
                    border-left: 1px solid #ccc;
                    margin-left: 10px;

                    .type-field {
                        height: 30px;
                        display: flex;
                        align-items: center;

                        .field-input {
                            border: none;
                            padding: 0 3px;
                        }

                        .field-input:focus {
                            outline: none;
                        }
                    }

                    .type-field:before {
                        content: "";
                        border-top: 1px solid #ccc;
                        width: 10px;
                    }
                }
            }
        }
    }
}