<div class="add-page-modal" [hidden]="!show">
    <div class="veil" (click)="cancelWithClick($event)">
        <div class="content">
            <div class="header">
                New page
            </div>
            <div class="body">
                <div class="top-bar">
                    <div class="name">
                        <input type="text" placeholder="Name" [(ngModel)]="name" />
                    </div>
                    <div class="filter">
                        <input type="text" placeholder="Filter..." />
                    </div>
                </div>
                <div class="page-templates-container">
                    <div class="page-templates">
                        <div class="template-row template-row-2">
                            <div class="template" [class.selected]="selected == 'blankPage'" (click)="select('blankPage')">
                                <blank-page></blank-page>
                                <div class="over">
                                    Blank
                                </div>
                            </div>
                            <div class="template" [class.selected]="selected == 'titlePanelPage'" (click)="select('titlePanelPage')">
                                <title-panel-page></title-panel-page>
                                <div class="over">
                                    Title panel page
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer">
                <button class="button-red" (click)="cancel()">Cancel</button>
                <button class="button-green" (click)="continue()" [disabled]="!selected || !name || name == ''">Add</button>
            </div>
        </div>
    </div>
</div>