<div class="form-config">
    <div class="form-body">
        <div class="form-config-row-container"
             *ngFor="let row of component.metadata.columns[0].rows; let i = index"
             (mouseenter)="handleRowMouseEnter($event, i)"
             [class.row-hidden]="dragData.id == i && dragData.type == 'formRow'">
            <div class="form-config-row"
                 pyrDroppable
                 [allow]="['formControl']"
                 (pyrDrop)="handleRowDrop($event, i)">
                <div class="actual-row">
                    <div class="control"
                         *ngFor="let control of row.controls; let j = index"
                         [style.flex-basis]="control.config.groups[1].rows[0].fields[0].value + control.config.groups[1].rows[0].fields[1].value"
                         (click)="selectFormControl(i, j, control)"
                         [class.selected]="control.isSelected"
                         pyrDraggable
                         [dragType]="'formExistingControl'"
                         [dragPayload]="{rowIndex: i, controlIndex: j}"
                         [mode]="'move'">
                        <div class="control-switch" [ngSwitch]="parseId(control.id)">
                            <div class="delete-button" (click)="deleteControl($event, i, j)">
                                <i class="fa fa-times"></i>
                            </div>

                            <div class="control-case" *ngSwitchCase="1">
                                <div class="label">
                                    {{ control.config.groups[0].rows[0].fields[0].value }}
                                </div>
                            </div>
                            <div class="control-case" *ngSwitchCase="2">
                                <form-field type="text"
                                            [field]="{name: '', value: ''}"
                                            [placeholder]="control.config.groups[0].rows[0].fields[0].value"></form-field>
                            </div>
                            <div class="control-case" *ngSwitchCase="3">
                                <form-field type="textarea"
                                            [field]="{name: '', value: ''}"
                                            [placeholder]="control.config.groups[0].rows[0].fields[0].value"></form-field>
                            </div>
                            <div class="control-case" *ngSwitchCase="5">
                                <form-field type="select"
                                            [field]="{name: '', value: ''}"
                                            [options]="[{display: 'test', value: 'test'}]"></form-field>
                            </div>
                        </div>
                    </div>
                    <div class="new-control-outline"></div>
                </div>
            </div>
        </div>
        <div class="new-row-outline"
             pyrDroppable
             [allow]="['formControl', 'formExistingControl']"
             (pyrDrop)="handleBodyDrop($event)"></div>
    </div>
    <div class="form-footer">
        <button class="button-gray">
            Cancel
        </button>
        <button class="button-gray">
            Submit
        </button>
    </div>
</div>