.form-config {
  height: 100%;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;

  .form-body {
    flex-basis: 100%;
    display: flex;
    flex-direction: column;

    .form-config-row-container {
      margin: 4px;
      border: 1px dashed transparent;
      cursor: pointer;

      .form-config-row {
        display: flex;
        line-height: 50px;
        min-height: 60px;
        border: 1px dashed transparent;

        .drag {
          width: 30px;
          display: flex;
          justify-content: center;
          margin: 18px 5px 0 0;
          cursor: move;
          height: 100%;

          > i.fa {
            font-weight: 200;
            color: #808080;
            margin-right: 4px;
          }
        }

        .actual-row {
          display: flex;
          width: 100%;

          .control {
            height: 100%;
            padding: 0 5px;
            border: 1px dashed transparent;
          }

          .control {
            display: flex;
            align-items: center;
            padding: 5px;
            cursor: move;
            background-color: white;

            .control-switch {
              flex: 1;
              position: relative;

              .control-case {
                pointer-events: none;

                .label {
                  font-size: 18px;
                }
              }
            }

            .delete-button {
              display: none;
              position: absolute;
              width: 22px;
              height: 22px;
              line-height: 22px;
              top: 100%;
              margin-top: -5px;
              right: 5px;
              background-color: #808080;
              border-radius: 100%;
              text-align: center;
              z-index: 500;

              > i.fa {
                color: #fff;
              }
            }

            .delete-button:hover {
              background-color: #880000;
            }
          }

          .control:hover {
            background-color: #fffbef;
          }

          .control.selected {
            background-color: #fffbef;
            border-color: #cabaa3;

            .control-switch {
              .delete-button {
                display: block;
              }
            }
          }

          .new-control-outline {
            border: 1px dashed #cabaa3;
            background-color: #fffbef;
            flex: 1;
            display: none;
          }
        }
      }

      .form-config-row:hover {
        border-color: #ccc;
      }

      .form-config-row.pyr-dragover {
        .actual-row {
          .new-control-outline {
            display: block;
          }
        }
      }
    }

    .form-config-row-container.row-hidden {
      .form-config-row {
        visibility: hidden;
      }

      border: 1px dashed #cabaa3;
      background-color: #fffbef;
    }

    .form-config-row-container:not(.row-hidden):hover {

    }

    .new-row-outline {
      flex-basis: 80px;
      border: 1px dashed transparent;
      margin: 4px;
    }

    .new-row-outline.pyr-dragover {
      background-color: #fffbef;
      border-color: #cabaa3;
    }
  }

  .form-footer {
    flex-basis: 60px;
    border-top: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;

    > button {
      margin: 0 10px;
    }
  }
}