* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  margin: 0;
  color: #444;
  box-sizing: border-box;
}

#content {
  display: flex;
  flex-direction: column;
  position: relative;

  .header {

  }

  .content-body {
    flex-basis: 100%;
    display: flex;

    .outlet {
      flex-basis: 100%;
    }
  }
}