<div id="container">
    <div id="content">
        <div class="header">
            <header></header>
        </div>
        <div class="content-body">
            <div class="outlet">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>
<!--<my-store-devtools *ngIf="showMonitor"></my-store-devtools>-->