$color-main: #67b168;
$color-error: #b94a48;

* {
  padding: 0;
  margin: 0;
  color: #444;
  box-sizing: border-box;
}

html, body, #container, #content {
  height: 100%;
}

.katex-display {
  margin: 0 !important;
}

.spacer-30 {
  height: 30px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

i.fa {
  font-family: FontAwesome !important;
}

/* TABLES */

.table-style-1
{
  table {
    width: 100%;
  }

  thead {
    tr {
      border-bottom: 1px solid #ccc;

      th {
        padding-bottom: 5px;
      }
    }
  }

  tbody {
    tr:hover {
      background-color: #f5f5f5;
    }

    tr {
      border-bottom: 1px solid #ddd;

      td {
        padding: 5px 0;
      }
    }
  }
}

.table-style-2 {
  > table {
    width: 100%;
    table-layout: fixed;

    tr {
      th {
        text-align: left;
        height: 30px;
        padding: 0 5px;
      }

      td {
        height: 40px;
        line-height: 40px;
        padding: 0 5px;
        border-bottom: 1px solid #e2e2e2;
      }

      td.link {
        > a {
          text-decoration: underline;
        }

        > a:hover {
          background-color: #26a69a;
          color: #fff;
          padding: 3px 5px;
          border-radius: 3px;
        }
      }

      td.actions {
        .actions-container {
          display: flex;
          align-items: center;
          justify-content: flex-end;
          padding-right: 15px;

          .action {
            cursor: pointer;
            padding: 3px;
            display: none;

            i.fa-times { color: #842210; }
            i.fa-edit { color: #67b168; }
          }

          .action.action-button {
            button {
              width: 60px !important;
              height: 22px !important;
            }
          }

          .action:not(.action-button):hover {
            background-color: #26a69a;
            border-radius: 3px;
            color: #fff;

            i.fa { color: #fff; }
          }

          .action:not(:last-child) {
            margin-right: 10px;
          }
        }
      }
    }

    tr:not(.header):hover {
      background-color: #fafafa;

      td.actions .action {
        display: inline-block;
      }
    }
  }
}

.form-1 {
  width: 100%;
  padding: 20px;

  .form-title {
    font-size: 18px;
    margin-bottom: 30px;
    height: 30px;
    border-bottom: 1px solid #26a69a;
  }

  .form-row {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 20px 0;

    .form-row-loading {
      background-color: rgba(0,0,0,0);
      border: 4px solid #444;
      opacity: .9;
      border-top: 5px solid rgba(0,0,0,0);
      border-left: 5px solid rgba(0,0,0,0);
      border-radius: 50px;
      box-shadow: 0 0 5px #444;
      width: 20px;
      height: 20px;
      margin: 10px 0;
      -moz-animation: spin 1s infinite linear;
      -webkit-animation: spin 1s infinite linear;
    }

    > label {
      flex-basis: 30%;
      font-size: 17px;
      line-height: 40px;
    }

    > form-field {
      flex-basis: 70%;
    }

    .form-text {
      height: 40px;
      line-height: 40px;
      flex-basis: 70%;
    }

    .control {
      flex-basis: 70%;

      input[type="text"],
      input[type="password"],
      textarea {
        width: 100%;
        height: 40px;
        padding: 0 5px;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        border-radius: 0px;
        border: 1px solid #cccccc;
      }

      textarea {
        padding: 5px;
        height: 100px;
      }

      input[type="text"]:focus,
      input[type="password"]:focus ,
      select:focus,
      textarea:focus {
        border-color: #808080;
      }

      input[type="text"].valid,
      input[type="password"].valid,
      textarea.valid,
      select.valid {
        border-color: $color-main;
      }

      input[type="text"].invalid,
      input[type="password"].invalid,
      textarea.invalid,
      select.invalid {
        border-color: $color-error;
      }

      select {
        height: 40px;
        width: 100%;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        border: 1px solid #cccccc;
        background-color: white;
      }

      .form-error {
        margin-top: 5px;
        color: #842210;
      }
    }
  }

  .form-buttons {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    label {
      margin-right: 50px;
    }

    input[type="checkbox"] {
      margin-right: 5px;
    }

    button[type="submit"] {
      background-color: $color-main;
      width: 150px;
      height: 40px;
      cursor: pointer;
      color: white;
      font-weight: 600;
    }
  }
}

.form-1-not-inline {
  .form-row, .form-row-double {
    > label {
      flex-basis: 100%;
      font-size: 17px;
      line-height: 30px;
    }

    input[type="text"],
    input[type="password"],
    textarea {
      flex-basis: 100%;
      width: 100%;
    }
  }
}

a
{
  outline: 0;
}

a:hover, a:active, a:focus {
  outline: 0;
}

/* DEFAULT LAYOUTS */

.default-center
{
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 20px;
}

/* Charts fix */
.chart {
  display: block;
  width: 100%;
}

.modal-1 {
  width: 600px;

  .header, .body, .footer {
    padding: 10px;
  }

  .header {
    height: 50px;
    line-height: 30px;
    border-bottom: 1px solid #cccccc;
    font-size: 18px;
  }

  .body {

  }

  .footer {
    border-top: 1px solid #cccccc;
    height: 50px;
    line-height: 30px;
    text-align: right;
  }
}

/* BUTTONS */

button.button-red,
button.button-green,
button.button-gray,
button.button-orange,
button.button-blue,
button.button-purple {
  height: 30px;
  width: 140px;
  border: 1px solid #cccccc;
  cursor: pointer;
  color: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;

  > i.fa {
    color: #fff;
  }
}

button.button-red {
  background-color: #a94442;
}

button.button-green {
  background-color: #67b168;
}

button.button-purple {
  background-color: #770088;
}

button.button-gray {
  background-color: #f2f2f2;
  color: black;
}

button.button-orange {
  background-color: #C97626;
}

button.button-blue {
  background-color: #26a69a;
}

button.button-long {
  width: 180px;
}

button.button-short {
  width: 100px;
}

button.button-tall {
  height: 40px;
}

button.button-large {
  height: 40px;
  font-weight: 600;
}

button.disabled {
  cursor: not-allowed;
}

/* INPUT */

.square-input {
  border-radius: 0;
  border: 1px solid #cccccc;
  height: 30px;
  padding: 0 5px;
}

.square-input:focus {
  border-color: #444;
}

/* CUSTOM RADIO */

.custom-radio-checkbox {
  > label {
    > input[type="checkbox"] {
      display: none;
    }

    > i {
      font-family: FontAwesome;
      font-style: normal;
      font-size: 20px;
      color: #696969;
    }

    > i:hover {
      color: #91c592;
    }

    > i:after {
      content: "\f10c";
    }

    > input[type="checkbox"]:checked + i:after {
      content: "\f192";
    }
  }
}

/* DISABLED BUTTON */

button:disabled
{
  pointer-events: auto !important;
  cursor: not-allowed;
}

/* PANELS */

.panel-1 {
  background-color: #fff;
  border: 1px solid #ddd;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);

  .panel-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #26a69a;
    margin: 5px 15px;
    height: 40px;

    .title {
      font-size: 17px;
    }

    .controls {
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
  }

  .panel-body-padding {
    padding: 0 15px 15px 15px;
  }
}

/* TABS */

.tabs.tabs-style-1 {
  .tab-headers {
    height: 40px;
    display: flex;
    border-bottom: 2px solid #26a69a;
    padding: 0 10px;

    .tab-header {
      flex-basis: 160px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      margin: 0 2px;
      cursor: pointer;
      background-color: #e2e2e2;
      border-bottom: 2px solid #26a69a;
    }

    .tab-header:hover {
      background-color: #ccc;
    }

    .tab-header.active {
      background-color: #26a69a;
      color: #fff;
    }
  }

  .tab-content-container {
    padding: 10px 12px;
  }
}

.side-tabs {
  display: flex;
  flex-direction: column;
  width: 200px;
  border: 1px solid #e2e2e2;

  .side-tab {
    position: relative;
    height: 40px;
    background-color: #fff;
    display: flex;
    align-items: center;
    padding: 0 8px;
    cursor: pointer;
    font-size: 18px;
  }

  .side-tab:not(:last-child) {
    border-bottom: 1px solid #e2e2e2;
  }

  .side-tab:hover,
  .side-tab.active {
    background-color: #f2f2f2;
  }

  .side-tab.active:after {
    position: absolute;
    font-family: FontAwesome;
    content: "\f0d9";
    font-size: 20px;
    width: 10px;
    height: 20px;
    text-align: right;
    line-height: 20px;
    top: 10px;
    right: -1;
    color: gray;
  }
}

/* CUSTOM INPUTS */

input[type="text"].custom-input-1,
select.custom-input-1 {
  height: 30px;
  padding: 0 3px;
  border-radius: 0px;
  border: 1px solid #cccccc;
  background-color: white;
  width: 100%;
}

input[type="text"].custom-input-1:focus,
select.custom-input-1:focus {
  border-color: #444;
}

input[type="radio"].custom-input-1 {
  margin-right: 5px;
}

.spinner {
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}

.spinner-big {
  margin: 60px auto;
  border-top: 17px solid rgba(68,68,68, 0.2);
  border-right: 17px solid rgba(68,68,68, 0.2);
  border-bottom: 17px solid rgba(68,68,68, 0.2);
  border-left: 17px solid #444444;
}

.spinner-small {
  margin: 10px auto;
  border-top: 6px solid rgba(68,68,68, 0.2);
  border-right: 6px solid rgba(68,68,68, 0.2);
  border-bottom: 6px solid rgba(68,68,68, 0.2);
  border-left: 6px solid #444444;
}

.spinner-medium {
  margin: 10px auto;
  border-top: 10px solid rgba(68,68,68, 0.2);
  border-right: 10px solid rgba(68,68,68, 0.2);
  border-bottom: 10px solid rgba(68,68,68, 0.2);
  border-left: 10px solid #444444;
}

.spinner-checkbox {
  margin: 0 auto;
  border-top: 2px solid rgba(68,68,68, 0.2);
  border-right: 2px solid rgba(68,68,68, 0.2);
  border-bottom: 2px solid rgba(68,68,68, 0.2);
  border-left: 2px solid #444444;
}

.spinner, .spinner:after { border-radius: 50%; }

.spinner-big,
.spinner-big:after {
  width: 160px;
  height: 160px;
}

.spinner-medium,
.spinner-medium:after {
  width: 80px;
  height: 80px;
}

.spinner-small,
.spinner-small:after {
  width: 40px;
  height: 40px;
}

.spinner-checkbox,
.spinner-checkbox:after {
  width: 18px;
  height: 18px;
}

@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.error-status {
  color: #842210;
  font-size: 16px;
  text-align: center;
  margin: 15px auto;
}

.error-status:before {
  font-family: FontAwesome;
  content: "\f071";
  margin-right: 5px;
}

.error-status-checkbox {
  margin: 0;
}

.error-status-checkbox:before {
  margin: 0;
}

.multiple-choice-answer {
  .choice-radio,
  .choice-checkbox {
    margin: 5px 0;
    display: flex;

    > label {
      display: flex;
      align-items: center;
      padding: 4px 10px 4px 4px;
      border-radius: 4px;

      > input[type="radio"],
      > input[type="checkbox"] {
        margin-right: 10px;
      }
    }

    > label.correct {
      background-color: #99d49a;
    }

    > label.incorrect {
      background-color: #ff918e;
    }
  }
}

.exercises-chart {
  .ct-series-a .ct-bar {
    stroke: #26a69a;
  }

  .bars-large {
    .ct-series-a .ct-bar {
      stroke-width: 80px;
    }
  }

  .bars-medium {
    .ct-series-a .ct-bar {
      stroke-width: 50px;
    }
  }

  .bars-small {
    .ct-series-a .ct-bar {
      stroke-width: 10px;
    }
  }
}

@media screen and (max-width: 1050px) {
  .exercises-chart {
    .bars-medium {
      .ct-series-a .ct-bar {
        stroke-width: 30px;
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .exercises-chart {
    min-width: 600px;
    overflow-x: auto;

    .bars-large {
      .ct-series-a .ct-bar {
        stroke-width: 50px;
      }
    }
  }
}

@media screen and (max-width: 300px) {
  .exercises-chart {
    .bars-large {
      .ct-series-a .ct-bar {
        stroke-width: 10px;
      }
    }
  }
}

.exercises-chart-tooltip {
  background-color: #444;
  border-radius: 4px;

  > span {
    color: #fff;
    font-size: 12px;
  }
}

.exercises-chart-tooltip:before {
  border-top-color: #444;
}

.contact-form-row {
  margin: 20px 0;

  input[type="text"] {
    height: 40px !important;
    line-height: 40px !important;
  }

  textarea {
    height: 100px;
  }
}