$height: 40px;

.page-title {
  height: $height;
  display: flex;
  flex-basis: 100%;
  align-items: center;
  border-bottom: 1px solid #808080;
  padding: 0 15px;

  .back {
    flex-basis: 100px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border: 1px solid #808080;
    border-radius: 6px;
    margin-right: 10px;
    cursor: pointer;
    background-color: whitesmoke;
    display: block;
  }

  .back:hover {
    background-color: #1b6d85;
    color: #fff;
  }

  .text {
    font-size: 24px;
  }
}
