<div class="disconnect-from-reducer-modal" [hidden]="!show">
    <div class="veil" (click)="cancelWithClick($event)">
        <div class="content">
            <div class="header" *ngIf="reducer">
                Disconnect action from {{ reducer.prefix }}Reducer.{{ reducer.suffix }}
            </div>
            <div class="body">
                <div class="warn-row">
                    <i class="fa fa-exclamation-triangle"></i>
                    This will erase all data associated with the connection
                </div>
                <div class="outputs-row" *ngIf="outputs.length > 1">
                    <div class="output-row" *ngFor="let output of outputs">
                        <label>
                            <input type="checkbox" [(ngModel)]="output.isSelected" />
                            {{ output.prefix }}::{{ output.suffix }}
                        </label>
                    </div>
                </div>
            </div>
            <div class="footer">
                <button class="button-red" (click)="cancel()">Cancel</button>
                <button class="button-green" (click)="continue()" [disabled]="outputs.length > 1 && getSelectedCount() == 0">Disconnect</button>
            </div>
        </div>
    </div>
</div>
