.disconnect-from-reducer-modal {
  .veil {
    z-index: 1050;
    position: fixed;
    width: 100%;
    height: 100%;
    max-height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    transition: all .4s ease;
  }

  .content {
    margin: 60px auto 20px auto;
    z-index: 1150;
    border: 1px solid rgba(0, 0, 0, .33);
    -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
    -moz-box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
    box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
    background-color: white;
    max-height: 80%;
    width: 60%;
    display: flex;
    flex-direction: column;

    .header {
      height: 60px;
      display: flex;
      align-items: center;
      padding: 0 15px;
      border-bottom: 1px solid #ccc;
      font-size: 20px;
    }

    .body {
      margin: 15px;
      
      .warn-row {
          text-align: center;
          font-size: 22px;
          color: #a94442;

          > i.fa {
              font-size: 22px;
              color: #a94442;
          }
      }

      .outputs-row {
          .output-row {
              > label {
                  display: flex;
                  height: 30px;
                  align-items: center;
                  font-size: 20px;

                  > input {
                      margin-right: 10px;
                  }
              }
          }
      }
    }

    .footer {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      height: 60px;
      border-top: 1px solid #ccc;

      > button {
        margin: 0 15px;
      }
    }
  }

  .modal-enter .modal-veil, .modal-leave .modal-veil {
    background-color: rgba(0, 0, 0, 0.0);
  }
}