<div class="add-field-modal" [hidden]="!show">
    <div class="veil" (click)="cancelWithClick($event)">
        <div class="content">
            <div class="header">
                <div class="title">
                    Add field
                </div>
            </div>
            <div class="body">
                <div class="name">
                    <input type="text" placeholder="Field name" [(ngModel)]="name" />
                </div>
                <div class="types">
                    <div class="type" [class.selected]="fieldType == 'string'" (click)="selectType('string')">
                        string
                    </div>
                    <div class="type" [class.selected]="fieldType == 'integer'" (click)="selectType('integer')">
                        integer
                    </div>
                </div>
            </div>
            <div class="footer">
                <button class="button-red" (click)="cancel()">Cancel</button>
                <button class="button-green" (click)="continue()">Save</button>
            </div>
        </div>
    </div>
</div>
