.add-field-modal {
  .veil {
    z-index: 1050;
    position: fixed;
    width: 100%;
    height: 100%;
    max-height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    transition: all .4s ease;
  }

  .content {
    display: table;
    margin: 100px auto;
    z-index: 1150;
    border: 1px solid rgba(0, 0, 0, .33);
    -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
    -moz-box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
    box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
    background-color: white;
    width: 60%;
    display: flex;
    flex-direction: column;

    .header {
        margin: 0 15px;
        height: 40px;
        line-height: 40px;

        .title {
            font-size: 26px;
        }
    }

    .body {
        margin: 15px;

        .name {
            > input {
                border: none;
                padding: 0 3px;
                height: 40px;
                line-height: 40px;
                font-size: 26px;
                color: #ea561d;
            }

            > input:focus {
                border: none;
                outline: none;
            }
        }

        .types {
            display: flex;
            height: 40px;
            align-items: center;

            .type {
                margin-right: 15px;
                padding: 5px 8px;
                border-radius: 6px;
                font-size: 20px;
                cursor: pointer;
            }

            .type:hover:not(.selected) {
                border: 1px solid #26a69a;
            }

            .type.selected {
                background-color: #26a69a;
                color: #fff;
            }
        }
    }

    .footer {
        border-top: 1px solid #e2e2e2;
        height: 60px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        
        > button {
            margin: 0 20px;
        }
    }
  }

  .modal-enter .modal-veil, .modal-leave .modal-veil {
    background-color: rgba(0, 0, 0, 0.0);
  }
}