<div class="query-results">
    <div class="panel-1">
        <div class="panel-title">
            <div class="text">
                Results
            </div>
        </div>
        <div class="panel-body">
            <div class="editor">
                <pre>
                    <code>
                        {{ queryResult | json }}
                    </code>
                </pre>
            </div>
        </div>
    </div>
</div>
