<div class="confirmation-modal" [hidden]="!show">
    <div class="veil" (click)="cancelWithClick($event)">
        <div class="content">
            <div class="body">
                <div class="are-you-sure">
                    Add action
                </div>
                <div class="description">
                    <select [(ngModel)]="reducerName">
                        <option [value]="reducer" *ngFor="let reducer of reducerNames">
                            {{ reducer }}
                        </option>
                    </select>
                    <input type="text" [(ngModel)]="actionName" />
                </div>
            </div>
            <div class="footer">
                <button class="button-red" (click)="cancel()">Cancel</button>
                <button class="button-green" (click)="continue()">Continue</button>
            </div>
        </div>
    </div>
</div>