.projects-component{height:100%;display:flex}.projects-component .content{flex-basis:100%;display:flex;flex-direction:column}.projects-component .content .body-container{flex-basis:100%;max-height:100%}
