.projects-component {
  height: 100%;
  display: flex;

  .content {
    flex-basis: 100%;
    display: flex;
    flex-direction: column;

    .body-container {
      flex-basis: 100%;
      max-height: 100%;
    }
  }
}