<div class="projects-component">
    <dashboard-menu></dashboard-menu>
    <div class="content">
        <div class="body-container">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>