<div class="request-configure" *ngIf="requestConfigure.isOpen">
    <div class="header">
        <div class="left">
            Request configuration
        </div>
        <div class="right">
            <i class="fa fa-times" (click)="toggleRequestConfigure.emit(requestConfigure.node)"></i>
        </div>
    </div>
    <div class="body">
        <div class="fetch">
            <div class="type"
                 *ngFor="let type of request; let i = index">
                <div class="type-row">
                    <input type="text"
                           placeholder="type"
                           [value]="type.name"
                           (keypress)="handleKeyPress($event, false)">
                </div>
                <div class="fields">
                    <div class="field"
                         *ngFor="let field of type.fields; let j = index">
                        <div class="field-row">
                            <input type="checkbox"
                                   [checked]="field.isChecked"
                                   (change)="handleCheckboxChanged($event, i, j)">
                            {{ field.name }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="type">
                <div class="type-row type-row-add">
                    <input type="text"
                           placeholder="type"
                           (keypress)="handleKeyPress($event, true)">
                </div>
            </div>
        </div>
    </div>
</div>