:host {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

.request-configure {
  height: 300px;
  background-color: white;

  .header {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    height: 25px;
    display: flex;
    align-items: center;
    padding: 0 10px;

    .left {
      flex: 1;
    }

    .right {
      > i.fa {
        color: #9a3333;
        font-size: 20px;
        cursor: pointer;
      }
    }
  }

  .body {
    margin: 10px;

    .fetch {
      .type {
        .type-row {
          height: 40px;
          display: flex;
          align-items: center;
          background-color: #f2f2f2;
          padding: 0 5px;

          > input[type="text"] {
            border: none;
            padding: 0 3px;
            height: 30px;
            width: 200px;
            font-size: 22px;
            line-height: 22px;
          }

          > input[type="text"]:focus {
            outline: none;
          }
        }

        .fields {
          .field {
            margin-left: 15px;

            .field-row {
              display: flex;
              align-items: center;
              height: 30px;

              > input[type="checkbox"] {
                margin-right: 5px;
              }
            }
          }
        }
      }
    }
  }
}