$search-row-height: 20px;

.map {
  height: 100%;

  .editor {
    width: 100%;
    height: 100%;
    background-color: #f2f2f2;
    position: relative;

    .connections-container-1 {
      position: absolute;
      z-index: 0;

      .line-connection {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;

        .line-svg {
          display: block;
          padding: 2px 0;
        }
      }
    }

    .line-drag {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      pointer-events: none;

      .line-svg {
        display: block;
        padding: 2px 0;
      }
    }

    .search {
      position: absolute;
      top: 0;
      left: 0;
      background-color: #444;
      width: 220px;
      height: 300px;

      .header {
        padding: 5px;
        border-bottom: 1px solid #e2e2e2;

        > input {
          width: 210px;
          padding: 0 3px;
          border-radius: 0;
          border: none;
        }
      }

      .body {
        .group {
          .group-name {
            height: $search-row-height;
            color: #fff;
            font-weight: 600;
            padding: 0 5px;
          }

          .rows {
            .row {
              height: $search-row-height;
              line-height: $search-row-height;
              color: #fff;
              padding: 0 15px;
            }

            .row:hover,
            .row.selected {
              background-color: #ccc;
              color: #444;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}