<div class="map">
    <div class="editor" id="logic-container"
         *ngIf="selectedAction"
         (mouseup)="handleEditorMouseUp($event)">
        <node *ngFor="let node of selectedAction.map.nodes"
              [node]="node"
              [map]="selectedAction.map"
              (updateMap)="updateMap.emit($event)"
              (toggleRequestConfigure)="toggleRequestConfigure.emit($event)"></node>

        <div class="connections-container-1"
             *ngFor="let node of selectedAction.map.nodes">
            <div class="connections-container"
                 *ngFor="let slot of node.slots; let i = index">
                <div class="connections" *ngIf="slot.direction == 'out' && slot.connections && slot.connections.length > 0">
                    <div class="line-connection"
                         *ngFor="let connection of slot.connections"
                         [style.left.px]="connLeft(connection)"
                         [style.top.px]="connTop(connection)"
                         [style.width.px]="connWidth(connection)"
                         [style.height.px]="connHeight(connection)">
                        <svg class="line-svg" preserveAspectRatio="none" [attr.width]="connWidth(connection) + 'px'" [attr.height]="connHeight(connection) + 'px'" viewBox="0 0 100 100">
                            <path [attr.d]="connD(connection)" stroke="#4c903f" stroke-width="4" fill="transparent" vector-effect="non-scaling-stroke"/>
                        </svg>
                    </div>
                </div>
            </div>
        </div>


        <div class="line-drag"
             *ngIf="c.isDragging"
             [style.left.px]="c.dragLeft()"
             [style.top.px]="c.dragTop()"
             [style.width.px]="c.dragWidth()"
             [style.height.px]="c.dragHeight()">
            <svg class="line-svg" preserveAspectRatio="none" [attr.width]="c.dragWidth() + 'px'" [attr.height]="c.dragHeight() + 'px'" viewBox="0 0 100 100">
                <path [attr.d]="c.dragd()" stroke="#696969" stroke-width="4" fill="transparent" vector-effect="non-scaling-stroke"/>
            </svg>
        </div>

        <div class="search"
             *ngIf="showSearch"
             [style.left.px]="searchX"
             [style.top.px]="searchY">
            <div class="header">
                <input id="search-input" type="text" placeholder="search...">
            </div>
            <div class="body">
                <div class="group">
                    <div class="group-name">
                        Requests
                    </div>
                    <div class="rows">
                        <div class="row" (click)="createNode('fetchRequest')">
                            Fetch request
                        </div>
                        <div class="row" (click)="createNode('createRequest')">
                            Create request
                        </div>
                        <div class="row" (click)="createNode('updateRequest')">
                            Update request
                        </div>
                        <div class="row" (click)="createNode('deleteRequest')">
                            Delete request
                        </div>
                    </div>
                    <div class="group-name">
                        Reducer functions
                    </div>
                    <div class="rows">
                        <div class="row" (click)="createNode('addToList')">
                            Add to list
                        </div>
                    </div>
                    <div class="group-name">
                        State
                    </div>
                    <div class="rows" *ngIf="selectedGroup">
                        <div class="row"
                             *ngFor="let field of selectedGroup.stateFields"
                             (click)="createNode('get' + field.name)">
                            {{ field.name }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>