<div class="breadcrumb">
    <div class="header">
        <div class="title">
            Components
        </div>
    </div>
    <div class="body" *ngIf="component">
        <div class="components" *ngIf="templates && component.templateName != 'form'">
            <div class="component"
                 *ngFor="let component of templates"
                 pyrDraggable
                 [dragType]="'component'"
                 [dragPayload]="{id: component.id}">
                <i class="fa fa-{{ component.icon }}"></i>
                <div class="title">
                    {{ component.name }}
                </div>
            </div>
        </div>

        <div class="components" *ngIf="component.templateName == 'form'">
            <div class="component"
                 *ngFor="let formControl of formTemplates"
                 pyrDraggable
                 [dragType]="'formControl'"
                 [dragPayload]="{id: formControl.id}">
                <i class="fa fa-{{ formControl.icon }}"></i>
                <div class="title">
                    {{ formControl.name }}
                </div>
            </div>
        </div>
    </div>
</div>
