.breadcrumb {
  .header {
    padding: 0 10px;
    height: 40px;
    background-color: #444;
    line-height: 40px;

    .title {
      font-size: 18px;
      color: #fff;
    }
  }

  .body {
    border: 1px solid #ccc;

    .components {
      display: flex;
      flex-wrap: wrap;

      .component {
        flex-basis: 50%;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: 1px solid #ccc;
        border-right: 1px solid #ccc;
        cursor: move;
        background-color: white;

        > i.fa {
          font-size: 18px;
          margin-right: 5px;
        }

        .title {
          font-size: 18px;
        }

        .component-drag {
          pointer-events:none;
          position: absolute;
          background-color: white;
          height: 60px;
          width: 150px;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: move;
          border: 1px solid #ccc;
          -webkit-box-shadow: 0px 0px 14px 0px rgba(68,68,68,0.3);
          -moz-box-shadow: 0px 0px 14px 0px rgba(68,68,68,0.3);
          box-shadow: 0px 0px 14px 0px rgba(68,68,68,0.3);
          z-index: 1000;

          > i.fa {
            font-size: 18px;
            margin-right: 5px;
          }

          .title {
            font-size: 18px;
          }
        }
      }

      .component:hover {
        background-color: #f2f2f2;
      }
    }
  }
}
