.project-list .panel-1 .panel-title .add-project>input{border:1px solid #444;border-radius:0;padding:0 5px;height:30px}.project-list .panel-1 .panel-body .projects .project{height:60px;display:flex;align-items:center;padding:0 15px}.project-list .panel-1 .panel-body .projects .project .del{margin-left:10px}.project-list .panel-1 .panel-body .projects .project .del>i.fa{color:#880000;cursor:pointer}
