.project-list {
  .panel-1 {
    .panel-title {
      .add-project {
        > input {
          border: 1px solid #444;
          border-radius: 0;
          padding: 0 5px;
          height: 30px;
        }
      }
    }

    .panel-body {
      .projects {
        .project {
          height: 60px;
          display: flex;
          align-items: center;
          padding: 0 15px;

          .name {

          }

          .del {
            margin-left: 10px;

            > i.fa {
              color: #880000;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}
