<div class="project-list">
    <div class="panel-1" *ngIf="projects">
        <div class="panel-title">
            Projects
            <div class="add-project">
                <input type="text" placeholder="Project name" [(ngModel)]="newProjectName" />
                <button class="button-green" (click)="createProject()">
                    New project
                </button>
            </div>
        </div>
        <div class="panel-body">
            <div class="projects">
                <div class="project" *ngFor="let project of projects">
                    <div class="name">
                        <a [routerLink]="'/projects/' + project.id + '/client/pages'">
                            {{ project.name }}
                        </a>
                    </div>
                    <div class="del">
                        <i class="fa fa-times" (click)="deleteProject(project)"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
