<div class="add-reducer-field-modal" [hidden]="!show">
    <div class="veil" (click)="cancelWithClick($event)">
        <div class="content">
            <div class="header">
                Add reducer field
            </div>
            <div class="body">
                <div class="form-1">
                    <div class="form-row">
                        <label>
                            Reducer
                        </label>
                        <div class="control">
                            <input type="text" placeholder="Reducer" [(ngModel)]="reducerGroup" />
                        </div>
                    </div>
                    <div class="form-row">
                        <label>
                            Field
                        </label>
                        <div class="control">
                            <input type="text" placeholder="Field" [(ngModel)]="reducerField" />
                        </div>
                    </div>
                    <div class="form-row">
                        <label>
                            Type
                        </label>
                        <div class="control">
                            <input type="text" placeholder="Type" [(ngModel)]="type" />
                        </div>
                    </div>
                    <div class="form-row">
                        <label>
                            Default
                        </label>
                        <div class="control">
                            <input type="text" placeholder="Default" [(ngModel)]="defaultValue" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer">
                <button class="button-red" (click)="cancel()">Cancel</button>
                <button class="button-green" (click)="continue()">Add</button>
            </div>
        </div>
    </div>
</div>
