<div class="name0 page-title-style-1" data-config-style>
    <div class="panel-1">
        <div class="panel-title" data-config-title>
            Title
        </div>
        <div class="panel-body" data-block-id="1.2">
            Content
        </div>
    </div>
</div>
