<div class="window" *ngIf="blockArea">
    <block [block]="blockArea.blockMap['1']"
           [blockMap]="blockArea.blockMap"
           [blockAreaId]="blockArea.id"
           [projectId]="projectId"
           [mode]="mode"
           [flexDirection]="blockArea.blockMap['1'].flexDirection"
           [style.flex-basis]="blockArea.blockMap['1'].flexBasis + '%'"
           (windowUpdates)="windowUpdates.emit($event)"></block>
</div>
