.tool-bar {
  .header {
    padding: 0 10px;
    height: 40px;
    background-color: #444;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .title {
      font-size: 18px;
      color: #fff;
    }

    .actions {
      display: flex;
      justify-content: flex-end;

      .section {
        display: flex;

        .action {
          width: 30px;
          height: 30px;
          background-color: #808080;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;

          > i.fa {
            color: #fff;
            font-size: 20px;
          }
        }

        .action.pressed {
          background-color: #1b6d85;
        }
      }
    }
  }
}
