<div class="tool-bar">
    <div class="header">
        <div class="title">
            Builder
        </div>
        <div class="actions">
            <div class="section">
                <div class="action" [class.pressed]="mode == 'select'" (click)="setMode.emit('select')">
                    <i class="fa custom">s</i>
                </div>
                <div class="action" [class.pressed]="mode == 'verticalSplit'" (click)="setMode.emit('verticalSplit')">
                    <i class="fa custom">v</i>
                </div>
                <div class="action" [class.pressed]="mode == 'horizontalSplit'" (click)="setMode.emit('horizontalSplit')">
                    <i class="fa custom">h</i>
                </div>
            </div>
        </div>
    </div>
</div>
