<div class="add-model-modal" [hidden]="!show">
    <div class="veil" (click)="cancelWithClick($event)">
        <div class="content">
            <div class="header">
                New Model
            </div>
            <div class="body">
                <div class="custom-form">
                    <div class="form-row">
                        <label>
                            Name
                        </label>
                        <input type="text" placeholder="Name" [(ngModel)]="name" />
                    </div>
                </div>
            </div>
            <div class="footer">
                <button class="button-red" (click)="cancel()">Cancel</button>
                <button class="button-green" (click)="continue()">Add</button>
            </div>
        </div>
    </div>
</div>