<div class="block"
     *ngIf="block.type == 'block'"
     pyrDroppable
     [allow]="['component']"
     (pyrDrop)="handleDropInBlock($event)"
     (mousemove)="handleMouseMove($event)"
     (mouseleave)="handleMouseLeave($event)"
     (click)="handleMouseClick($event)"
     [style.flex-direction]="flexDirection"
     [class.highlight]="shouldHover"
     [class.selected]="block.isSelected && mode == 'select'">

    <div class="vertical-bar"
         *ngIf="isMouseInBlock && mode == 'verticalSplit'"
         [style.left.px]="relMouseX">
        <div class="values">
            <div class="value-left" [style.top.px]="relMouseY - 40">
                {{ getPercentageRight() }}%
            </div>
            <div class="value-right" [style.top.px]="relMouseY - 40">
                {{ getPercentageLeft() }}%
            </div>
        </div>
    </div>

    <div class="horizontal-bar"
         *ngIf="isMouseInBlock && mode == 'horizontalSplit'"
         [style.top.px]="relMouseY">
        <div class="values">
            <div class="value-top" [style.left.px]="relMouseX - 80">
                {{ getPercentageTop() }}%
            </div>
            <div class="value-bottom" [style.left.px]="relMouseX - 80">
                {{ getPercentageBottom() }}%
            </div>
        </div>
    </div>

    <block *ngFor="let subBlockId of block.blocks"
           [block]="blockMap[subBlockId]"
           [blockMap]="blockMap"
           [blockAreaId]="blockAreaId"
           [projectId]="projectId"
           [mode]="mode"
           [flexDirection]="blockMap[subBlockId].flexDirection"
           [style.flex-basis]="blockMap[subBlockId].flexBasis + '%'"
           (windowUpdates)="windowUpdates.emit($event)"></block>

    <div class="components" *ngIf="block.content.component">
        <div class="component">
            <div class="name">
                <i class="fa fa-{{ block.content.component.icon }}"></i>&nbsp;
                <a [routerLink]="'/projects/' + projectId + '/client/platform/' + block.content.component.id">
                    {{ block.content.component.name }}
                </a>
            </div>
        </div>
    </div>
</div>

<div class="separator"
     *ngIf="block.type == 'separator'"
     [class.vertical]="block.separatorDirection == 'vertical'"
     [class.horizontal]="block.separatorDirection == 'horizontal'"
     (mousemove)="stopPropagating($event)"
     (mouseleave)="stopPropagating($event)"
     (click)="stopPropagating($event)">
</div>
