$valueBorderRadius: 6px;

:host {
  flex-basis: 100%;
  height: 100%;
}

.block {
  height: 100%;
  position: relative;
  display: flex;

  .vertical-bar {
    position: absolute;
    top: 0;
    left: 50%;
    width: 1px;
    height: 100%;
    background-color: #1b6d85;

    .values {
      position: relative;

      .value-left,
      .value-right {
        position: absolute;
        top: 0;
        height: 20px;
        line-height: 20px;
        width: 50px;
        text-align: center;
        color: #fff;
        background-color: #808080;
      }

      .value-left {
        right: 6px;
        border-top-left-radius: $valueBorderRadius;
        border-bottom-left-radius: $valueBorderRadius;
      }

      .value-right {
        left: 6px;
        border-top-right-radius: $valueBorderRadius;
        border-bottom-right-radius: $valueBorderRadius;
      }
    }
  }

  .horizontal-bar {
    position: absolute;
    top: 50%;
    left: 0;
    height: 1px;
    width: 100%;
    background-color: #1b6d85;

    .values {
      position: relative;

      .value-top,
      .value-bottom {
        position: absolute;
        left: 0;
        height: 20px;
        line-height: 20px;
        width: 50px;
        text-align: center;
        color: #fff;
        background-color: #808080;
      }

      .value-top {
        top: 6px;
        border-bottom-right-radius: $valueBorderRadius;
        border-bottom-left-radius: $valueBorderRadius;
      }

      .value-bottom {
        bottom: 6px;
        border-top-right-radius: $valueBorderRadius;
        border-top-left-radius: $valueBorderRadius;
      }
    }
  }

  .components {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    .component {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      .name {
        color: #1b6d85;
        pointer-events: auto;
      }
    }
  }
}

.block.selected {
  background-color: #fffbef;
}

.block.highlight {
  background-color: #fffbef;
}

.separator {
  background-color: #ccc;
}

.separator.vertical {
  width: 2px;
  height: 100%;
}

.separator.horizontal {
  width: 100%;
  height: 2px;
}