.component-graph {
  margin: 15px;

  .body {
    margin: 15px;
    display: flex;

    .page-col {
      display: flex;
      width: 100%;

      .page-node {
        min-height: 300px;
        border: 1px solid #ccc;
        border-radius: 12px;
        align-items: center;
        justify-content: center;

        .name {
          height: 100%;
          padding: 0 5px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }

      .page-components {
        display: flex;
        flex-direction: column;
        width: 100%;

        .page-component {
          flex: 1;
        }

        .page-component:not(:first-child) {
          margin-top: 20px;
        }
      }
    }
  }
}