<div class="component-graph">
    <div class="panel-1">
        <div class="panel-title">
            <div class="title">
                <a [routerLink]="'/client/pages'">
                    <button class="button-gray">
                        Back
                    </button>
                </a>
                Page: {{ pageName }}
            </div>
            <div class="controls">
                <button class="button-green" (click)="openAddComponentModal()">
                    Add component
                </button>
            </div>
        </div>
        <div class="body" *ngIf="data">
            <div class="page-col">
                <div class="page-node">
                    <div class="name">
                        {{ data.page }}
                    </div>
                </div>
                <div class="page-components">
                    <div class="page-component" *ngFor="let component of data.components">
                        <comp-node [component]="component"
                                   (addAction)="addAction($event)"
                                   (deleteAction)="deleteAction($event)"></comp-node>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<confirmation-modal #addActionModal
                    [reducerNames]="reducers"
                    [pageName]="pageName"
                    (shouldRefresh)="refresh()"></confirmation-modal>

<delete-action-modal #deleteActionModal
                     [reducerNames]="reducers"
                     [pageName]="pageName"
                     (shouldRefresh)="refresh()"></delete-action-modal>

<add-component-modal #addComponentModal></add-component-modal>