<div class="plugin-page">
    <div class="header">
        <div class="left">
            <div class="fa fa-key"></div>
            Account management
        </div>
        <div class="right">
            <div class="toggle-button">
                <div class="slider"></div>
            </div>
        </div>
    </div>
    <div class="body">

    </div>
    <div class="footer">
        <button>
            Update
        </button>
    </div>
</div>
