.plugin-page {
    padding: 15px;

    .header {
        display: flex;

        .right, .left {
            flex: 1;
        }

        .right {

        }

        .left {

        }
    }

    .body {

    }

    .footer {
        display: flex;
        justify-content: flex-end;
        margin: 10px 15px;
    }
}
