$height: 50px;

.general-page-header-basic {
  .header {
    height: $height;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding: 0 10px;

    .title {
      font-size: 20px;
    }

    .section {
      margin-left: 10px;
      font-size: 18px;
      color: #808080;
    }
  }
}