.general-page-header-basic .header{height:50px;display:flex;align-items:center;border-bottom:1px solid #ccc;padding:0 10px}.general-page-header-basic .header .title{font-size:20px}.general-page-header-basic .header .section{margin-left:10px;font-size:18px;color:#808080}
