<div class="general-page-header-basic">
    <div class="header">
        <div class="title">
            {{ title }}
        </div>
        <div class="section" *ngIf="section">
            {{ section }}
        </div>
    </div>
</div>