<div class="add-input-modal" [hidden]="!show">
    <div class="veil" (click)="cancelWithClick($event)">
        <div class="content">
            <div class="header">
                Add input
            </div>
            <div class="body">
                <div class="form-1">
                    <div class="form-row">
                        <label>
                            Input
                        </label>
                        <div class="control">
                            <input type="text" placeholder="Input" [(ngModel)]="name" />
                        </div>
                    </div>
                    <div class="form-row">
                        <label>
                            Group
                        </label>
                        <div class="control">
                            <input type="text" placeholder="Group" [(ngModel)]="group" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer">
                <button class="button-red" (click)="cancel()">Cancel</button>
                <button class="button-green" (click)="continue()">Add</button>
            </div>
        </div>
    </div>
</div>
