<div class="confirmation-modal" [hidden]="!show">
    <div class="veil" (click)="cancelWithClick($event)">
        <div class="content">
            <div class="body">
                <div class="are-you-sure">
                    Are you sure?
                </div>
                <div class="description">
                    <ng-content></ng-content>
                </div>
            </div>
            <div class="footer">
                <button class="button-red" (click)="cancel()">Cancel</button>
                <button class="button-green" (click)="continue()">Continue</button>
            </div>
        </div>
    </div>
</div>