<div class="empty-config">
    <div class="body">
        <window [blockArea]="component.blockAreas[0]"
                [mode]="mode"
                [projectId]="projectId"
                (windowUpdates)="windowUpdates.emit($event)"></window>
    </div>
</div>
