<div class="reducer-list">
    <div class="panel-1">
        <div class="panel-title">
            Reducers
        </div>
        <div class="panel-body">
            <div class="reducers-header">
                <div class="add-button">
                    <button class="button-green" (click)="openAddReducerModal()">
                        Add reducer
                    </button>
                </div>
                <div class="filter">
                    <input type="text" placeholder="Filter..." />
                </div>
            </div>
            <div class="reducers-container">
                <div class="reducers">
                    <div class="reducer" *ngFor="let reducer of reducers" [class.open]="reducer.isOpen">
                        <div class="summary" (click)="toggleReducer(reducer)">
                            {{ reducer.name }}
                        </div>
                        <div class="details" *ngIf="reducer.isOpen">
                            <div class="details-content">
                                here
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<add-reducer-modal #addReducerModal></add-reducer-modal>