.reducer-list {
  .panel-1 {
    background-color: #f2f2f2;

    .panel-body {
      padding: 15px;

      .reducers-header {
        display: flex;
        height: 40px;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 15px;

        .filter {
          > input {
            height: 30px;
            width: 240px;
            padding: 0 3px;
            border: 1px solid #ccc;
            border-radius: 0;
          }

          > input:focus {
            border-color: #808080;
          }
        }
      }

      .reducers-container {
        .reducers {
          .reducer {
            .summary {
              height: 50px;
              border: 1px solid #ccc;
              display: flex;
              align-items: center;
              background-color: white;
              cursor: pointer;
              padding: 0 10px;
            }

            .details {
              display: flex;
              height: 400px;
              background-color: white;
              border: 1px solid #ccc;
              border-top: none;

              .border {
                width: 5px;
                height: 100%;
              }

              .details-content {
                padding: 15px;
              }
            }
          }

          .reducer:hover .summary,
          .reducer.open .summary {
            background-color: #e2e2e2;
          }
        }
      }
    }
  }
}