<div class="add-component-modal" [hidden]="!show">
    <div class="veil" (click)="cancelWithClick($event)">
        <div class="content">
            <div class="header">
                New component
            </div>
            <div class="body">
                <div class="top-bar">
                    <label>
                        Title
                        <input type="text" placeholder="Title" [(ngModel)]="name" />
                    </label>
                </div>
                <div class="category-bar">
                    <div class="category-item"
                         *ngFor="let category of categories"
                         [class.selected]="selectedCategory == category"
                         (click)="setCategory(category)">
                        {{ category }}
                    </div>
                </div>
                <div class="template-container">
                    <div class="templates">

                        <div class="template-group" *ngIf="selectedCategory == 'general'">
                            <div class="template-row-3">
                                <div class="template panel-1" [class.selected]="selected == 'blank'" (click)="select('blank')">
                                    <blank-demo></blank-demo>
                                    <div class="over">
                                        Blank
                                    </div>
                                </div>
                                <div class="template panel-1" [class.selected]="selected == 'generalPageHeaderBasic'" (click)="select('generalPageHeaderBasic')">
                                    <general-page-header-basic [title]="'Page'" [section]="'header'"></general-page-header-basic>
                                    <div class="over">
                                        Page header
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="template-group" *ngIf="selectedCategory == 'headers'">
                            <div class="template-row-2">
                                <div class="template panel-1" [class.selected]="selected == 'headersBasic'" (click)="select('headersBasic')">
                                    <headers-basic></headers-basic>
                                    <div class="over">
                                        Basic
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="template-group" *ngIf="selectedCategory == 'menus'">
                            <div class="template-row-2">
                                <div class="template panel-1" [class.selected]="selected == 'menusSideBasic'" (click)="select('menusSideBasic')">
                                    <menus-side-basic></menus-side-basic>
                                    <div class="over">
                                        Side
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="template-group" *ngIf="selectedCategory == 'panels'">
                            <div class="template-row-3">
                                <div class="template panel-1" [class.selected]="selected == 'panel'" (click)="select('panel')">
                                    <panel-demo></panel-demo>
                                    <div class="over">
                                        Panel
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="template-group" *ngIf="selectedCategory == 'forms'">
                            <div class="template-row-2">
                                <div class="template panel-1" [class.selected]="selected == 'formsBasic'" (click)="select('formsBasic')">
                                    <forms-basic></forms-basic>
                                    <div class="over">
                                        Basic form
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer">
                <button class="button-red" (click)="cancel()">Cancel</button>
                <button class="button-green" (click)="continue()" [disabled]="!selected || selected == ''">Add</button>
            </div>
        </div>
    </div>
</div>