.add-component-modal {
  .veil {
    z-index: 1050;
    position: fixed;
    width: 100%;
    height: 100%;
    max-height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    transition: all .4s ease;
  }

  .content {
    margin: 60px auto 20px auto;
    z-index: 1150;
    border: 1px solid rgba(0, 0, 0, .33);
    -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
    -moz-box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
    box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
    background-color: white;
    max-height: 80%;
    width: 70%;
    display: flex;
    flex-direction: column;

    .header {
      height: 60px;
      display: flex;
      align-items: center;
      padding: 0 15px;
      border-bottom: 1px solid #ccc;
      font-size: 20px;
    }

    .body {
      margin: 15px;

      .top-bar {
        display: flex;
        height: 40px;
        align-items: center;
      }

      .category-bar {
        display: flex;
        height: 40px;
        align-items: center;

        .category-item {
          color: #1b6d85;
          border-radius: 4px;
          padding: 3px 5px;
          cursor: pointer;
        }

        .category-item:not(:last-child) {
          margin-right: 15px;
        }

        .category-item.selected {
          background-color: #1b6d85;
          color: #fff;
        }

        .category-item:hover:not(.selected) {
          color: #23527c;
        }
      }

      .template-container {
        margin-top: 10px;
        border: 1px solid #ccc;
        padding: 10px;
        height: 550px;
        max-height: 550px;
        overflow-y: auto;

        .templates {
          .template-group {
            .template-row-2,
            .template-row-3 {
              display: flex;
              justify-content: flex-start;

              .template {
                padding: 10px;
                cursor: pointer;
                position: relative;
                border-width: 3px;
                margin-bottom: 10px;

                .over {
                  position: absolute;
                  top: 0;
                  left: 0;
                  width: 100%;
                  height: 40px;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  background-color: #1b6d85;
                  opacity: 0;
                  font-size: 20px;
                  color: #fff;
                  transition: all 0.2s;
                  letter-spacing: 3px;
                  text-transform: uppercase;
                }
              }

              .template:not(:last-child) {
                margin-right: 10px;
              }

              .template:hover,
              .template.selected {
                border-color: #1b6d85;

                .over {
                  opacity: 1;
                  transition: all 0.2s;
                }
              }
            }

            .template-row-2 {
              .template {
                flex-basis: 49.6%;
                height: 475px;
              }
            }

            .template-row-3 {
              .template {
                flex-basis: 32.8%;
                height: 265px;
              }
            }
          }
        }
      }
    }

    .footer {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      height: 60px;
      border-top: 1px solid #ccc;

      > button {
        margin: 0 15px;
      }
    }
  }

  .modal-enter .modal-veil, .modal-leave .modal-veil {
    background-color: rgba(0, 0, 0, 0.0);
  }
}