<div class="template-config" *ngIf="component && templates">
    <div class="template-configs" [ngSwitch]="component.templateName">
        <div class="config" *ngSwitchCase="'empty'">
            <empty-config [component]="component"
                          [mode]="mode"
                          [projectId]="projectId"
                          (windowUpdates)="handleWindowUpdates($event)"></empty-config>
        </div>

        <div class="config" *ngSwitchCase="'panel'">
            <panel-config [component]="component"
                          [mode]="mode"
                          [projectId]="projectId"
                          (windowUpdates)="handleWindowUpdates($event)"></panel-config>
        </div>

        <div class="config" *ngSwitchCase="'form'">
            <form-config [component]="component"
                         [dragData]="dragData"
                         [mode]="mode"
                         [projectId]="projectId"
                         (formActions)="formActions.emit($event)"
                         (draggableMouseDown)="draggableMouseDown.emit($event)"
                         (draggableMouseUp)="draggableMouseUp.emit($event)"></form-config>
        </div>
    </div>
</div>

<drop-component-modal (windowUpdates)="handleWindowUpdates($event)"
                      #dropComponentModal></drop-component-modal>
