<div class="delete-action-modal" [hidden]="!show">
    <div class="veil" (click)="cancelWithClick($event)">
        <div class="content">
            <div class="body">
                <div class="are-you-sure">
                    Add action
                </div>
                <div class="description">
                    <label>
                        Include page
                        <input type="checkbox" [(ngModel)]="includePage" />
                    </label>
                    <label>
                        Include reducer
                        <input type="checkbox" [(ngModel)]="includeReducer" />
                    </label>
                </div>
            </div>
            <div class="footer">
                <button class="button-red" (click)="cancel()">Cancel</button>
                <button class="button-green" (click)="continue()">Continue</button>
            </div>
        </div>
    </div>
</div>