.delete-action-modal {
  .veil {
    z-index: 1050;
    position: fixed;
    width: 100%;
    height: 100%;
    max-height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    transition: all .4s ease;
  }

  .content {
    display: table;
    margin: 0 auto;
    z-index: 1150;
    border: 1px solid rgba(0, 0, 0, .33);
    -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
    -moz-box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
    box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
    background-color: white;
    height: 180px;
    width: 60%;
    display: flex;
    flex-direction: column;

    .body {
      flex-basis: 100%;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .are-you-sure {
        font-size: 22px;
        margin-bottom: 10px;
      }

      .description {
        font-size: 16px;
      }
    }

    .footer {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 20px 0;

      > button {
        margin: 0 20px;
      }
    }
  }

  .modal-enter .modal-veil, .modal-leave .modal-veil {
    background-color: rgba(0, 0, 0, 0.0);
  }
}