<div class="page-list">
    <div class="body">
        <div class="panel-1 panel-list">
            <div class="panel-title">
                Modules
            </div>
            <div class="panel-body">
                <div class="modules">
                    <div class="module"
                         *ngFor="let module of modules"
                         [ngClass]="'spacing-' + module.level"
                         (click)="selectModule(module)"
                         [class.selected]="module.isSelected">
                        <div class="head">
                            <div class="module-row-left">
                                <div class="top">
                                    <div class="expand">
                                        <i class="fa fa-minus"></i>
                                    </div>
                                    <div class="module-tag">
                                        {{ module.name }}
                                    </div>
                                    <div class="name">
                                        {{ module.pages.length }} {{ module.pages.length == 1 ? 'page' : 'pages' }}
                                    </div>
                                </div>
                                <div class="bottom">
                                    <div class="uri">
                                        <div class="prefix">
                                            {{ module.uriPrefix }}
                                        </div>
                                        <div class="suffix">
                                            {{ module.uri }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="module-row-right">
                                <div class="action" (click)="newModule(module)">
                                    <div class="top">
                                        <i class="fa fa-plus"></i>
                                    </div>
                                    <div class="bottom">
                                        module
                                    </div>
                                </div>
                                <div class="action" (click)="removeModule(module)"
                                     *ngIf="module.name != 'app' && module.isLeaf">
                                    <div class="top">
                                        <i class="fa fa-times"></i>
                                    </div>
                                    <div class="bottom">
                                        remove
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="new-module" *ngIf="showNewModule && parentModuleId == module.id">
                            <div class="left">
                                <div class="top">
                                    <input type="text" placeholder="Name" [(ngModel)]="newName"
                                           (input)="generateUriString($event.target.value)" />
                                </div>
                                <div class="bottom">
                                    <input type="text" placeholder="Uri" [(ngModel)]="newUri" />
                                </div>
                            </div>
                            <div class="right">
                                <div class="action" (click)="cancelAdd()">
                                    <div class="top">
                                        <i class="fa fa-times"></i>
                                    </div>
                                    <div class="bottom">
                                        Cancel
                                    </div>
                                </div>
                                <div class="action" (click)="addModule(module)">
                                    <div class="top">
                                        <i class="fa fa-save"></i>
                                    </div>
                                    <div class="bottom">
                                        Save
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel-1 panel-pages">
            <div class="panel-title">
                {{ selectedModule() ? selectedModule().name : '' }}&nbsp;pages
            </div>
            <div class="panel-body panel-body-no-module-selected" *ngIf="!selectedModule()">
                <div class="text">
                    <p>Select a module</p>
                    <p>to view pages</p>
                </div>
            </div>
            <div class="panel-body panel-body-no-pages" *ngIf="selectedModule() && selectedModule().pages.length == 0">
                no pages
            </div>
            <div class="panel-body panel-body-pages" *ngIf="selectedModule() && selectedModule().pages.length > 0">
                <div class="modules">
                    <div class="module"
                         *ngFor="let page of selectedModule().pages"
                         (click)="selectPage(page)"
                         [class.selected]="page.isSelected">
                        <div class="head">
                            <div class="module-row-left">
                                <div class="top">
                                    <div class="page-tag">
                                        <a [routerLink]="'/projects/' + projectId + '/client/platform/' + page.component.id">
                                            {{ page.name }}
                                        </a>
                                    </div>
                                </div>
                                <div class="bottom">
                                    <div class="uri">
                                        <div class="prefix">
                                            {{ page.uriPrefix }}
                                        </div>
                                        <div class="suffix">
                                            {{ page.uri }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="module-row-right">
                                <div class="action" (click)="removePage(page)">
                                    <div class="top">
                                        <i class="fa fa-times"></i>
                                    </div>
                                    <div class="bottom">
                                        remove
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="new-page" *ngIf="selectedModule() && !showNewPage">
                <div class="new-page-action">
                    <div class="action" (click)="newPage()">
                        <div class="top">
                            <i class="fa fa-plus"></i>
                        </div>
                        <div class="bottom">
                            Add page
                        </div>
                    </div>
                </div>
            </div>
            <div class="new-page-form" *ngIf="showNewPage">
                <div class="left">
                    <div class="top">
                        <input type="text" placeholder="Name" [(ngModel)]="newName"
                               (input)="generateUriString($event.target.value)" />
                    </div>
                    <div class="bottom">
                        <input type="text" placeholder="Uri" [(ngModel)]="newUri" />
                    </div>
                </div>
                <div class="right">
                    <div class="action" (click)="cancelAdd()">
                        <div class="top">
                            <i class="fa fa-times"></i>
                        </div>
                        <div class="bottom">
                            Cancel
                        </div>
                    </div>
                    <div class="action" (click)="addPage()">
                        <div class="top">
                            <i class="fa fa-save"></i>
                        </div>
                        <div class="bottom">
                            Save
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel-1 panel-config">
            <div class="panel-title">
                Configure
            </div>
            <div class="panel-body">
                <div class="page-section" *ngIf="selectedPage()">
                    {{ selectedPage().name }}
                </div>
            </div>
        </div>
    </div>
</div>

<confirm-modal #confirmModalModule>
    This will remove all pages within the module
</confirm-modal>

<confirm-modal #confirmModalPage></confirm-modal>