$module-height: 80px;

.page-list {
  margin: 15px;
  height: 100%;

  .body {
    display: flex;
    height: 100%;
  }

  .panel-1 {
  }

  .panel-1.panel-list {
    flex: 1;
    border-radius: 0;
  }

  .panel-1.panel-pages {
    flex: 1;
    border-radius: 0;

    .panel-body-no-module-selected {
      display: flex;
      flex-direction: column;
      height: 200px;
      font-size: 28px;
      justify-content: center;
      align-items: center;

      .text {
        text-align: center;
        border: 1px dashed #ccc;
        padding: 30px 40px;
        border-radius: 12px;

        > p {
          color: #808080;
          margin-bottom: 10px;
        }
      }
    }

    .panel-body-no-pages {
      height: $module-height;
      line-height: $module-height;
      text-align: center;
      font-size: 24px;
      color: #808080;
      border-bottom: 1px solid #e2e2e2;
    }

    .new-page-form {
      height: $module-height;
      border-bottom: 1px solid #e2e2e2;
      display: flex;
      align-items: center;
      padding: 0 15px;

      .left {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;

        input {
          height: 30px;
          border: 1px solid #ccc;
          border-radius: 0;
          padding: 0 3px;
          width: 100%;
        }

        .top {
          margin-bottom: 5px;
        }

        .bottom {

        }
      }

      .right {
        flex: 1;
        display: flex;
        justify-content: flex-end;
        padding-right: 25px;

        .action {
          width: 80px;
          height: 60px;
          margin: 0 5px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          cursor: pointer;

          .top {
            > i.fa {
              font-size: 18px;
              color: #636363;
              font-weight: 400;
            }
          }

          .bottom {
            font-size: 16px;
            color: #636363;
          }
        }

        .action:hover {
          border: 1px solid #ccc;
          border-radius: 6px;
          background-color: #f2f2f2;
        }
      }
    }

    .new-page {
      height: $module-height;
      display: flex;
      align-items: center;
      justify-content: center;
      border-bottom: 1px solid #e2e2e2;

      .new-page-action {
        width: 80px;
        height: 60px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        .top {
          text-align: center;

          > i.fa {
            font-size: 18px;
            color: #636363;
            font-weight: 400;
          }
        }

        .bottom {
          font-size: 16px;
          color: #636363;
        }
      }
    }

    .new-page:hover {
      background-color: #e2e2e2;

      .new-page-action:hover {
        border: 1px solid #ccc;
        border-radius: 6px;
        background-color: #fff;
      }
    }
  }

  .panel-1.panel-config {
    flex: 0.5;
    border-radius: 0;
    background-color: white;
  }

  .modules {
    .module {
      border-bottom: 1px solid #e2e2e2;
      cursor: pointer;

      .head {
        display: flex;
        height: $module-height;
        align-items: center;

        .module-row-left {
          flex: 1;
          padding: 0 15px;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          height: $module-height;

          .top,
          .bottom {
            display: flex;
            align-items: center;
          }

          .top {
            .expand {
              margin-right: 10px;

              > i.fa {
                color: #1b6d85;
                font-size: 18px;
                font-weight: 400;
              }
            }

            .module-tag,
            .page-tag {
              background-color: #ea561d;
              margin-right: 10px;
              color: #fff;
              padding: 3px;
              border-radius: 4px;
              min-width: 50px;
              text-align: center;
              font-size: 18px;

              > a {
                color: #fff;
              }
            }

            .page-tag {
              background-color: #67b168;
            }

            .name {
              font-size: 18px;
              margin-right: 15px;
              color: #808080;
            }
          }

          .bottom {
            .uri {
              margin-left: 25px;
              display: flex;

              .prefix,
              .suffix {
                font-size: 18px;
              }

              .prefix {
                color: #808080;
              }

              .suffix {
                color: #1b6d85;
              }
            }
          }
        }

        .module-row-right {
          flex: 1;
          display: none;
          justify-content: flex-end;
          align-items: center;
          padding-right: 40px;

          .action {
            width: 80px;
            height: 60px;
            margin: 0 5px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            cursor: pointer;

            .top {
              > i.fa {
                font-size: 18px;
                color: #636363;
                font-weight: 400;
              }
            }

            .bottom {
              font-size: 16px;
              color: #636363;
            }
          }

          .action:hover {
            border: 1px solid #ccc;
            border-radius: 6px;
            background-color: #f2f2f2;
          }
        }
      }

      .head:hover {
        .module-row-right {
          display: flex;
        }
      }

      .new-module {
        height: $module-height;
        border-bottom: 1px solid #e2e2e2;
        display: flex;
        align-items: center;
        padding: 0 15px;

        .left {
          flex: 1;
          display: flex;
          flex-direction: column;
          justify-content: center;

          input {
            height: 30px;
            border: 1px solid #ccc;
            border-radius: 0;
            padding: 0 3px;
            width: 100%;
          }

          .top {
            margin-bottom: 5px;
          }

          .bottom {

          }
        }

        .right {
          flex: 1;
          display: flex;
          justify-content: flex-end;
          padding-right: 25px;

          .action {
            width: 80px;
            height: 60px;
            margin: 0 5px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            cursor: pointer;

            .top {
              > i.fa {
                font-size: 18px;
                color: #636363;
                font-weight: 400;
              }
            }

            .bottom {
              font-size: 16px;
              color: #636363;
            }
          }

          .action:hover {
            border: 1px solid #ccc;
            border-radius: 6px;
            background-color: #f2f2f2;
          }
        }
      }
    }

    .module.selected {
      background-color: #e2e2e2;
    }

    .module.spacing-2 {
      padding-left: 30px;
    }

    .module.spacing-3 {
      padding-left: 60px;
    }

    .module.spacing-4 {
      padding-left: 90px;
    }

    .module.spacing-5 {
      padding-left: 120px;
    }

    .module.spacing-6 {
      padding-left: 150px;
    }

    .module.spacing-7 {
      padding-left: 180px;
    }

    .module.spacing-8 {
      padding-left: 210px;
    }

    .module.spacing-9 {
      padding-left: 240px;
    }

    .module.spacing-10 {
      padding-left: 270px;
    }
  }
}